{%  extends "_base.html" %}

{% set title="External Author List" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block page_content %}

    {%  if table_data %}
    {{ macros.render_table(table_data) }}
    {% else %}
    No ext authors to show
    {% endif %}

    <div style="visibility: hidden" id="formHideout"></div>

{% endblock %}

{% block page_complement %}
        <button id="NewAuthorButton" type="button" class="btn btn-success" onclick="$.ajax({
                url: '{{ form_url }}?header={{ 'Add new external author' | urlencode }}',
                success: function(data){
                    $('#formHideout').html(data);
                }})">Add new author</button>

    <button id="ImportAuthorsFromIcms" type="button" class="btn btn-success" onclick="$.ajax({
                url: '{{ import_url }}?header={{ 'Import authors from CMS people DB' | urlencode }}',
                success: function(data){
                    $('#formHideout').html(data);
                }})">Import form CMS People DB</button>
{%  endblock %}