{% extends "_base.html" %}

{% block page_content %}

    <div id="TableWrapper">
    {%  if table_data %}
    {{ macros.render_table(table_data) }}
    {% else %}
    No projects configured
    {% endif %}
    </div>

    <div style="visibility: hidden" id="formHideout"></div>

{% endblock %}

{% block page_complement %}
        <button id='NewProjectButton' type="button" class="btn btn-success" onclick="$.ajax({url: '{{ form_url }}',
                success: function(data){
                    $('#formHideout').html(data);
                }})">Add new project</button>
{%  endblock %}
