{% extends "_base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block header_extra %}

In brief, this page allows Institute Leaders to control the <code>MISC_authorno</code> flag for members of their institute.
<br><br>
<code>MISC_authorno</code> flag provides means of "freezing" / reinstating signing rights of CMS members who otherwise fulfill all the requirements to be authors:
    <ul>
        <li>setting the flag takes a member off the author list (the "freeze" option)</li>
        <li>removing the flag reinstates signing rights unless other unmet requirements exist (the "unfreeze" option)</li>
    </ul>
Please note that CMS signing rights are determined daily. Any changes made to the flags may therefore take up to 24h to become effective.
<br><br>
Any <em>changes</em> made to this page <em>will only be preserved upon pressing</em> the <em>"Save changes"</em> button at the bottom of the page.

{% endblock %}


{% block top_container %}

    {% if table_data %}
    {{ macros.render_table(table_data) }}
    {% endif %}

{% endblock %}
