{% extends "_base.html" %}

{% block page_content %}

    {% if form %}

        <form action="" method="post" name="addOrcId">
            {{ form.hidden_tag() }}

            {{ wtf.quick_form(form) }}

{#            <div class="form-group required aoi-label"> {{ form.name.label         }} </div> <div class="aoi-data"> {{ form.name }} </div>#}
{#            <div class="form-group required aoi-label"> {{ form.hrId.label         }} </div> <div class="aoi-data"> {{ form.hrId }} </div>#}
{#            <div class="form-group required aoi-label"> {{ form.spiresId.label     }} </div> <div class="aoi-data"> {{ form.spiresId }} </div>#}
{#            <div class="form-group required aoi-label"> {{ form.orcId.label        }} </div> <div class="aoi-data">{{ form.orcId }} </div>#}


{#            <span>#}
{#                <br />#}
{#                <input type="submit" name="subCan" value="Submit">#}
{#                <input type="submit" name="subCan" value="Cancel">#}
{#                <br />#}
{#            </span>#}

        </form>

        <a href="{{ url_for('author_lists.route_authorsNoOrcID') }}">Go back</a> to the list of people without OrcIDs.

    {% endif %}
{%  endblock %}
