{% extends "_base.html" %}

{% block page_content %}

    <h2>CMS Author IDs</h2>

<div class="col-md-11 brick huge padded">
    <table id="authorData" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> Name </th>
                <th> CMSid </th>
                <th> HRid </th>
                <th> InspireId </th>
                <th> OrcId </th>
                <th> last update</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th> Name </th>
                <th> CMSid </th>
                <th> HRid </th>
                <th> InspireId </th>
                <th> OrcId </th>
                <th> last update</th>
            </tr>
        </tfoot>
    </table>
</div>

    <h3> <a href="{{ url_for('author_lists.route_authorsNoOrcID') }}">List of CMS authors w/o OrcID</a> </h3>


{% endblock %}

{% block scripts %}
    {{ super() }}

<script language="JavaScript">
$(document).ready(function() {

    var table = $('#authorData').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "order": [[4, 'desc']],
        "dom": '<"top"lifr>t<"bottom"flp>',
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        "ajax": {
            "url": "{{ url_for("api.route_authorData") }}",
            'data' : 'data',
            method : "POST",
            complete: function(data) {
                console.log(data);
            },
        },
        "order": [[0, 'asc']],
        "columnDefs": [
            { "data": "name",  targets: 0 },
            { "data": "cmsId", targets: 1 },
            { "data": "hrId",  targets: 2 },
            { "data": "InspireID", targets: 3 },
            { "data": "OrcId", targets: 4 },
            { "data": "lastUpdate", targets: 5 },
        ],
    });

})

</script>

{% endblock %}
