{% extends "_base.html" %}

{% block page_content %}

    <h2>CMS Authors without OrcIDs</h2>

<div class="col-md-11 brick huge padded">
    <table id="authorData" class="display compact cell-border" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th> Name </th>
                <th> Institute </th>
                <th> CMSid </th>
                <th> HRid </th>
                <th> InspireId </th>
                <th> OrcId </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <th> Name </th>
                <th> Institute </th>
                <th> CMSid </th>
                <th> HRid </th>
                <th> InspireId </th>
                <th> OrcId </th>
            </tr>
        </tfoot>
    </table>
</div>

        <h3> <a href="{{ url_for('author_lists.route_show_author_data') }}">List of CMS authors with OrcIDs</a> </h3>

{% endblock %}

{% block scripts %}
    {{ super() }}

<script language="JavaScript">
$(document).ready(function() {

    var table = $('#authorData').DataTable({
        // see: https://datatables.net/examples/basic_init/dom.html
        stateSave: true,
        "order": [[4, 'desc']],
        "dom": '<"top"lifr>t<"bottom"flp>',
        "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
        "ajax": {
            "url": "{{ url_for("api.route_authorsNoOrcID") }}",
{#            'data' : 'data',#}
            method : "POST",
            complete: function(data) {
                console.log(data.length);
            },
        },
        "order": [[0, 'asc']],
        "columnDefs": [
            { "data": "person.name", targets: 0 },
            { "data": "person.InstCode", targets: 1 },
            { "data": "person.cmsId", targets: 2 },
            { "data": "person.hrId", targets: 3  },
            { "data": "person.authorId", targets: 4  },
            { "data": "person.canChangeId", targets: 5,
                'render' : function(data, type, row) {
                                if ( (data ) ) {
                                    return '<a href="' + $SCRIPT_ROOT + '/al/setOrcID/' + row.person.cmsId + '"> set OrcId </a>';
                                } else {
                                    return '';
                                }
                            },
            },
        ],
    });

})

</script>

{% endblock %}
