{% extends "_base.html" %}

{% set user_name = person.given_name + " " + person.familyName %}

{% set title="Account status of " +  user_name %}

{% block page_scripts %}
    <script type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block top_container %}

    <div>

        {% if issues['info'] %}
        <div id="acctIssues-info" class="brick padded alert-success">
            <h4>Info</h4>

            <table id="acctInfo" class="display compact cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%"> Check </th>
                        <th width="60%"> Result </th>
                    </tr>
                </thead>
                <tbody>
                {% for issue in issues['info'] %}
                    <tr>
                        <td>{{ issue.check }} </td>
                        <td> {{ issue.msg | safe }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {%  else %}
            <h4>No issues found</h4>
        {%  endif %}

        <div id="acctIssues-error" class="brick padded alert-danger">
        {% if issues['error'] %}
            <h4>Errors</h4>
            <table id="acctErrors" class="display compact cell-border" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%"> Check </th>
                        <th width="30%"> Result </th>
                        <th width="50%"> Help </th>
                    </tr>
                </thead>
                <tbody>
                {% for issue in issues['error'] %}
                    <tr>
                        <td>{{ issue.check }} </td>
                        <td> {{ issue.msg | safe }} </td>
                        <td>
                        {% if helpInfo and helpInfo[issue.check] %}
                            {{ helpInfo[issue.check].replace('\n', '<br/>')|safe }}
                        {% endif %}
                        {% if removeButtons %}
                            {% for remBtn in removeButtons %}
                                {% if issue.msg in remBtn %}
                                    <a class="ui-button" id="remGrp-button-{{ remBtn[issue.msg] }}" href="{{ url_for('users.route_request_removal_other', grp=remBtn[issue.msg], hr_id=person.hrId) }}">Request to remove account from group {{ remBtn[issue.msg] }} </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if disabledBtn %}
                            {% if issue.msg in disabledBtn %}
                                <br/><a class="ui-button" id="mailDisAcc-button" href="{{ url_for('users.route_send_mail_disabled', hr_id=person.hrId) }}">Send mail to user for disabled account {{ disabledBtn[issue.msg] }} </a>
                            {% endif %}
                        {% endif %}

                        {% if mailRegBtn %}
                            {% if issue.msg in mailRegBtn %}
                                <br/><a class="ui-button" id="mailRegBtn-button" href="{{ url_for('users.route_send_mail_reg_needed', hr_id=person.hrId) }}">Send mail to user for registration needed  </a>
                            {% endif %}
                        {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>No errors found</h4>
        {%  endif %}
        </div>

        {% if addToZHAdmin %}
        <div id="addToZH-action">
            <a class="ui-button" id="addToZH-button" href="{{ url_for('users.route_add_to_zh', hr_id=person.hrId) }}"> Add account to "zh" eGroup </a>
        </div>
        <div id="mailAdded-action">
            <a class="ui-button" id="mailAdded-button" href="{{ url_for('users.route_send_mail_account_added', hr_id=person.hrId) }}"> Send mail to user for "account added" </a>
        </div>
        {%  endif %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $( "#remGrp-button-zp" ).button();
        $( "#remGrp-button-z2" ).button();
        $( "#remGrp-button-z5" ).button();
        $( "#addToZH-button" ).button();
        $( "#mailAdded-button" ).button();
        $( "#mailDisAcc-button" ).button();
        $( "#mailRegBtn-button" ).button();
    </script>

    <script language="JavaScript">

        $(document).ready(function() {

            var tableInf = $('#acctInfo').DataTable({
                // see: https://datatables.net/examples/basic_init/dom.html
                stateSave: true,
                "dom": '<"top">t<"bottom">',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            });

            var tableErr = $('#acctErrors').DataTable({
                // see: https://datatables.net/examples/basic_init/dom.html
                stateSave: true,
                "dom": '<"top">t<"bottom">',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            });

        })

    </script>

{% endblock %}
