{% extends "_base.html" %}

{% set title="Checking account status of new users since " + startDate  %}

{% block page_scripts %}
    <script type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block top_container %}

    <div>

    {% for item in newUsers %}
        <hr />
        {% set addToZHAdmin = item['errInfo']['addToZHAdmin'] %}
        {% set addToZHUser = item['errInfo']['addToZHUser'] %}
        {% set disabledBtn = item['errInfo']['disabledBtn'] %}
        {% set mailRegBtn = item['errInfo']['mailRegBtn'] %}
        {% set removeButtons = item['errInfo']['removeButtons'] %}
        {% set helpInfo = item['errInfo']['helpInfo'] %}

        {% set person = item['person'] %}

        <div id="acctIssues-info" class="brick padded alert-success">
            <h4>Info -- {{ item['person']['lastName'] }}, {{ item['person']['firstName'] }} ({{ item['account'] }} - {{ item.person.dateCreation }})</h4>
            {% if item['issues']['info'] %}

            <table id="acctInfo" class="display compact cell-border acctInfo" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="40%"> Check </th>
                        <th width="60%"> Result </th>
                    </tr>
                </thead>
                <tbody>
                {% for issue in item['issues']['info'] %}
                    <tr>
                        <td>{{ issue.check }} </td>
                        <td> {{ issue.msg | safe }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%  else %}
                <h4>No issues found</h4>
            {%  endif %}
        </div>

        <div id="acctIssues-error" class="brick padded alert-danger">
        {% if item['issues']['error'] %}
            <h4>Errors</h4>
            <table id="acctErrors" class="display compact cell-border acctErrors" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th width="20%"> Check </th>
                        <th width="30%"> Result </th>
                        <th width="50%"> Help </th>
                    </tr>
                </thead>
                <tbody>
                {% for issue in item['issues']['error'] %}
                    <tr>
                        <td>{{ issue.check }} </td>
                        <td> {{ issue.msg | safe }} </td>
                        <td>
                        {% if helpInfo and helpInfo[issue.check] %}
                            {{ helpInfo[issue.check].replace('\n', '<br/>')|safe }}
                        {% endif %}
                        {% if addToZHUser %}
                            <div id="addToZH-action-user">
                                <a class="ui-button addToZH-button" id="addToZH-button-user" href="{{ url_for('users.route_add_to_zh', hr_id=person.hrId) }}"> Add my account to "zh" eGroup </a>
                            </div>
                        {% endif %}
                        {% if removeButtons %}
                            {% for remBtn in removeButtons %}
                                {% if issue.msg in remBtn %}
                                    <a class="ui-button remGrp-button-{{ remBtn[issue.msg] }}" id="remGrp-button-{{ remBtn[issue.msg] }}" href="{{ url_for('users.route_request_removal_other', grp=remBtn[issue.msg], hr_id=person.hrId) }}">Request to remove account from group {{ remBtn[issue.msg] }} </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% if disabledBtn %}
                            {% if issue.msg in disabledBtn %}
                                <br/><a class="ui-button mailDisAcc-button" id="mailDisAcc-button" href="{{ url_for('users.route_send_mail_disabled', hr_id=person.hrId) }}">Send mail to user for disabled account {{ disabledBtn[issue.msg] }} </a>
                            {% endif %}
                        {% endif %}

                        {% if mailRegBtn %}
                            {% if issue.msg in mailRegBtn %}
                                <br/><a class="ui-button mailRegBtn-button" id="mailRegBtn-button" href="{{ url_for('users.route_send_mail_reg_needed', hr_id=person.hrId) }}">Send mail to user for registration needed  </a>
                            {% endif %}
                        {% endif %}

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>No errors found</h4>
        {%  endif %}
        </div>

        {% if addToZHAdmin %}
            <div id="addToZH-action-admin">
                <a class="ui-button addToZH-button" id="addToZH-button-admin" href="{{ url_for('users.route_add_to_zh', hr_id=person.hrId) }}"> Add account to "zh" eGroup </a>
            </div>
        {%  endif %}
    {% endfor %}

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $( ".remGrp-button-zp" ).button();
        $( ".remGrp-button-z2" ).button();
        $( ".remGrp-button-z5" ).button();
        $( ".addToZH-button-admin" ).button();
        $( ".addToZH-button-user" ).button();
        $( ".mailAdded-button" ).button();
        $( ".mailDisAcc-button" ).button();
        $( ".mailRegBtn-button" ).button();
    </script>

    <script language="JavaScript">

        $(document).ready(function() {

            var tableInf = $('.acctInfo').DataTable({
                // see: https://datatables.net/examples/basic_init/dom.html
                stateSave: true,
                "dom": '<"top">t<"bottom">',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            });

            var tableErr = $('.acctErrors').DataTable({
                // see: https://datatables.net/examples/basic_init/dom.html
                stateSave: true,
                "dom": '<"top">t<"bottom">',
                "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            });

        })

    </script>

{% endblock %}
