{% extends "_base.html" %}

{% set user_name = user.person.firstName + " " + user.person.lastName %}

{% set title="User Profile of " +  user_name %}

{% block page_scripts %}
    <script type="text/javascript"></script>
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block top_container %}
    <div class="wall">

        <div id="ldapInfo" class="brick">
            <h4>LDAP Information</h4>
            {{ macros.render_dict_v(ldap_info) }}
        </div>

        <div id="basicInformation" class="brick">
            <h4>CMS DB Information</h4>
            {{ macros.render_dict_v(person_data) }}
        </div>

        {% if author_data %}
        <div id="authorInformation" class="brick">
            <h4>Authorship Information</h4>
            {{ macros.render_dict_v(author_data) }}
        </div>
        {% endif %}

        {% if mo_data %}
        <div id="moData" class="brick">
            <h4>MO Data</h4>
            {{ macros.render_dict_v(mo_data) }}
        </div>
        {% endif %}

        {% if flags_data %}
        <div id="flags" class="brick">
            <h4>Flags</h4>
            {{ macros.render_dict_v(flags_data)}}
        </div>
        {% endif %}

        {% if user.is_admin() or user.is_inst_representative() or user.managed_projects %}
        <div id="superpowers" class="brick">
            <h4>Elevated Privileges</h4>

            <ul>
            {% if user.is_admin() %}
                <li>Admin</li>
            {% endif %}

            {% for inst_code, is_cbi in user.get_represented_institutes_codes().items() %}
                <li> {% if is_cbi %} CBI {% else %} CBD {% endif %} of {{inst_code}}</li>
            {% endfor %}

            {% if user.managed_projects %}
                <li>Manager of the following projects:
                    <ul>
                        {% for project in user.managed_projects %}
                            <li>{{project}}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </div>

        {% endif %}

        {% if restricted_data %}
        <div id="restrictedData" class="brick sensitive">
            <h4>Restricted Information</h4>
            {{ macros.render_dict_v(restricted_data) }}
        </div>
        {% endif %}

        {% if epr_data %}
        <div id="eprData" class="brick">
            <h4>EPR Contributions</h4>
            {{macros.render_dict_v(epr_data)}}
        </div>
        {% endif %}

    </div>

    {% if time_lines_data %}
    <div id="timelines" class="brick padded" style="width: 100%;">
        <h4>Time Lines</h4>
        {{ macros.render_table(time_lines_data) }}
    </div>
    {% endif %}

    {% if ph_time_lines_data %}
    <div id="preHistoryTimelines" class="brick padded" style="width: 100%;">
        <h4>Parsed History Time Lines (experimental)</h4>
        {{ macros.render_table(ph_time_lines_data) }}
    </div>
    {% endif %}


{% endblock %}

