<template>
  <v-app>
    <v-snackbar v-model="snackbarShow" :top="true">
      <span v-html="snackbarText"/>
      <v-btn :color="snackbarColor" text @click="snackbarShow = false">Dismiss</v-btn>
    </v-snackbar>
    <div id="fill-the-void" style="height: 6em;">
      
    </div>
    <router-view/>
    </v-app>
</template>

<script>
export default {
  data: function(){
    return {
      snackbarShow: false,
      snackbarText: '',
      snackbarType: 'info',
    };
  },
  methods:{
    snackbarDismiss: function(){
      this.snackbarShow = false;
      this.snackbarText = '';
    }
  },
  computed: {
    snackbarColor: function(){
      if (this.snackbarType == 'error') return 'red';
      return 'green';
    },
  },
  beforeCreate: function(){
    console.debug('==== > APP COMPONENT beforeCreated() START < ====');
    var compo = this;
    // TRIGGER AN ACTION LOADING USER DETAILS - ALLOWING THE LATTER TO BE FETCHED FROM COMPONENTS IN NEED THEREOF
    this.$store.dispatch('loadUserInfoAsync');
    // SUBSCRIBE TO NOTIFICATIONS ABOUT ERROR MESSAGES TO BE SHOWN
    this.$store.subscribe((mutation, state) => {
      if (mutation.type == 'errorMessage'){
        compo.snackbarText = state.errorMessage;
        compo.snackbarShow = true;
        compo.snackbarType = 'error'
      }
      else if (mutation.type == 'infoMessage'){
        compo.snackbarText = state.infoMessage;
        compo.snackbarShow = true;
        compo.snackbarType = 'info';
      }
    });
    console.debug('==== > APP COMPONENT beforeCreated() DONE < ====');
  }
  
}

</script>