{% extends "_base.html" %}

{% block title %}
Checking Latex build for CADI line {{ cadiLine }}
{% endblock %}

{% block header_text %} {{title}} {% endblock %}

{% block page_content %}

    <h2>Select CadiLine</h2>

    <div class="brick padded">
    {% if form %}

    {{ wtf.quick_form(form) }}

    {% endif %}
    </div>

    <div id="log">
    {% if log %}
        <ul>
        {% for k, v in log.items() %}
            <li style="list-style-type: none;">
              {% if 'doCmd' in k %}
                <div class="log-header"> doCmd: </div>
              {% else %}
                <div class="log-header"> {{  k }}: </div>
              {% endif %}
                <br />
                <div class="log-body"> {{ v.encode('utf-8').decode('latin-1', 'ignore').replace('\n','<br/>') |safe }} </div>
                <hr />
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>


{% endblock %}

{% block scripts %}
{{ super() }}

    <script language="JavaScript">

    $(document).ready(function() {

        $("#submit").click( function () {
            $("#log").html("Running ... ");
        })

}); // end document.ready ...

</script>

{% endblock %}
