{% extends "generic_page.html" %}

{% block page_styles %}
<style type="text/css">
    input.submitfield{
        display: inline;
        width: 19.7%;
    }

</style>
{% endblock %}

{% block page_scripts %}

<script type="text/javascript">

    $(document).ready(function(){
        var color = 'orange';
        var container = $('#all_stats');
        $('div.row:contains(GoingToPreApp)', container).css('background-color', color);
        $('div.row:contains(CWR):not(:contains(ended))', container).css('background-color', color);
        $('div.row:contains(ReadyForFR)', container).css('background-color', color);

        theTable = $('.cadiLinesTable').DataTable({
            fixedHeader: {header: true, footer: true},
            stateSave: true,
            dom: 'Bfrtipl',
            buttons: [{extend: 'pdf', orientation: 'landscape'}, 'excel', 'csv', 'copy', 'colvis'],
            iDisplayLength: 20,
            aLengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
            columnDefs: [{targets: [4, 5], visible: false}]
        });
    });

    $(document).ready(
        $( function() {
            $( "#top_tabs" ).tabs();
            $('.autofire').click();
        })
    );

    function ajax_sub_callback_xeb(elem_id, group_key, data) {
        console.debug(data);
        var elem = $(elem_id);
        elem.empty();
        if (group_key in data) {
            data[group_key].forEach(function (row) {
                elem.append($('<li>' + row['code'] + ' ('+ row['journals'] +'), ' + row['title'] + ' (' + row['day'] + ')</li>'))
            })
        } else {
            elem.append($('<p>No data to show.</p>'));
        }
    }

    function ajax_callback_xeb(data, status, jqxhr) {
        console.debug(data);
        if (status === 'success') {
            ajax_sub_callback_xeb('#papers_accepted', 'ACCEPT', data);
            ajax_sub_callback_xeb('#papers_submitted', 'SUB', data);
            ajax_sub_callback_xeb('#papers_in_cwr', 'CWR', data);
        }
        MathJax.Hub.Typeset();
    }

</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config( {
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      processClass: "e-mathjax"
    },
    TeX: { extensions: ["autobold.js"] },
    "HTML-CSS": {
      fonts: ["TeX"],
      noReflows: false
    }
    });
    console.debug('MathJax configured?');
</script>

{% endblock %}

{% set date_from = forms[0].date_from.data %}
{% set date_till = forms[0].date_till.data %}


{% block explanation %}
    <h4>
        Digest
    </h4>
    <p>
        This section displays the numbers of analyses in particular states as of the end of indicated time range: {{date_till}}.
        <br> Displayed information is limited to:
        <ul>
            <li>Analyses that had their status changed within the indicated period: {{date_from}} - {{date_till}}</li>
            <li>Analyses being in one of the following states as of {{date_till}}:
            <ul>
            {% for state in matrix_data.states %}
                <li>{{state.desc}} ({{state.code}})</li>
            {% endfor %}
            </ul>
            </li>
        </ul>
    </p>
    <h4>
        Papers overview
    </h4>
    <p>
        This section combines the information retrieved from CDS with that fetched from CADI. <br>
        Every CADI line is matched with its CDS record should the latter be available. <br>
        Displayed information is not affected by selected time range and always includes all available analyses.
    </p>
{% endblock %}

{% block top_container %}

    <div id="top_tabs">
        <ul style="margin-bottom: 10px;">
            <li><a href="#tab_digest">Digest</a></li>
            {% if current_user.is_admin() %}
            <li><a href="#tab_maps">Recent changes</a></li>
            {% endif %}
            <li><a href="#tab_table">Papers Overview</a></li>
            <li><a href="#xeb_weekly">Weekly Report</a></li>
            </ul>
            <div id="tab_digest">
                <div class="wall" style="column-count: 1;">

                    {% block forms %} {{super()}} {% endblock %}

                    <div class="brick huge padded">

                        {% if date_till == date_today %}
                            <h4>Activity in the last {{1+(date_till-date_from).days}} days</h4>
                        {% else %}
                            <h4>Activity between {{date_from}} and {{date_till}}</h4>
                        {% endif %}


                        {# Out of analyses that have changed states between {{date_from}} and {{date_till}}, as of {{date_till}} there #}
                        {# {%if date_till == date_today %} are{% else %} were{% endif %}:  #}
                        {# <ul>  #}
                        {#     {% for state in matrix_data.states %}  #}
                        {#     {% set total=matrix_data.state_totals[state.code] %}  #}
                        {#     <li> {{total or 'No'}} {{total != 1 and 'analyses' or 'analysis'}} in {{state.code}} state ({{state.desc}})</li>  #}
                        {#     {% endfor %}  #}
                        {# </ul>  #}

                        <table class="simple summary">
                            <thead><tr>
                                <th>Status \ AWG</th>
                                {% for awg in matrix_data.awgs %}
                                <th style="width: {{75/matrix_data.awgs|length}}%; text-align: center">{{awg}}</th>
                                {% endfor %}
                            </tr></thead>
                            {% for state in matrix_data.states %}
                            <tr>
                                <td>{{state.desc}}</td>
                                {% for awg in matrix_data.awgs %}
                                <td style="text-align: center;">{{macros.render_element(matrix_data.cell_data.get((state.code, awg), 0))}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="brick huge padded">
                        <h4>Snapshot as of today, {{date_today}}</h4>

                        {# <ul> #}
                        {# {% for state in snapshot.states %} #}
                        {#     <li>{{snapshot.state_totals.get(state.code, 0)}} analysis in {{state.code}} state ({{state.desc}})</li> #}
                        {# {% endfor %} #}
                        {# </ul> #}

                        <table class="simple summary">
                            <thead><tr>
                                <th>Status \ AWG</th>
                                {% for awg in snapshot.awgs %}
                                <th style="text-align: center; width: {{75/snapshot.awgs | length}}%;">{{awg}}</th>
                                {% endfor %}
                            </tr></thead>
                            {% for state in snapshot.states %}
                            <tr>
                                <td>{{state.desc}}</td>
                                {% for awg in snapshot.awgs %}
                                <td style="text-align: center;">{{macros.render_element(snapshot.data.get((state.code, awg), 0))}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
                    </div>
            </div>
            {% if current_user.is_admin() %}
            <div id="tab_maps">
                {% block maps %} {{super()}} {% endblock %}
            </div>
            {% endif %}
            <div id="tab_table">
                {% block tables %} {{super()}} {% endblock %}
                {% if warnings %}
                    <h4>Warnings</h4>
                    <ul>
                    {% for code, message in warnings.items() %}
                    <li>{{code}}: {{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            <div id="xeb_weekly" class="e-mathjax">

                <button class='autofire' onclick="$.ajax('{{xeb_refresh_endpoint_short}}', {'success': ajax_callback_xeb})">Last 7 days</button>
                <button onclick="$.ajax('{{xeb_refresh_endpoint_long}}', {'success': ajax_callback_xeb})">Last 14 days</button>

                <h5><strong>Papers accepted:</strong> (date of acceptance)</h5>

                <ol id="papers_accepted" class="e-mathjax">
                </ol>

                <h5><strong>Papers submitted:</strong> (date of submission)</h5>

                <ol id="papers_submitted">
                </ol>

                <h5><strong>All papers currently in CWR:</strong> (date of End of CWR)</h5>
                <ol id="papers_in_cwr">
                </ol>

            </div>
            </div>


    {% block hidden_data %} {{super()}} {% endblock %}
    {% block action_links %} {{super()}} {% endblock %}
{% endblock %}