<template>
    <edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on"></slot>
        </template>
        <template v-slot:header>Assignment Editor</template>
        <template v-slot:fields="{values}">
            <v-autocomplete v-model="primaryAssignment.code" label="Primary project" :items="projectsData" item-value="code" item-text="code"></v-autocomplete>
            <v-autocomplete v-model="secondaryAssignment.code" label="Secondary project" :items="projectsData" item-value="code" item-text="code" clearable></v-autocomplete>
            <v-text-field 
                v-if="secondaryAssignment.code"
                v-model="secondaryAssignment.fraction" label="Secondary project's involvement fraction" 
                class="mt-0" type="number" step="0.01" min="0.01" max="0.49"></v-text-field>
        </template>
    </edit-dialog>
</template>

<script>
    import AjaxCalls from '../utils/AjaxCalls.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue'

    export default {
        name: 'AssignmentEditor',
        components: {
            'edit-dialog': VuetifyEditDialog,          
        },
        props: {
            value: {type: Number, default: null},
        },
        data: function(){
            return {
                cmsId: null,
                primaryAssignment: {
                    code: null,
                    id: null,
                },
                secondaryAssignment: {
                    code: null,
                    id: null,
                    fraction: null,
                },
                projectsData: null, 
                requestsToComplete: 0,
            };
        },
        watch: {
            value: function(newVal, oldVal){
                console.debug("AssignmentEditor » value changed to " + newVal + " from " + oldVal);
                this.cmsId = newVal;
                this.resetForm();
            },
        },
        methods: {
            resetForm: function(){
                this.primaryAssignment.code = null;
                this.primaryAssignment.id = null;
                this.secondaryAssignment.id = null;
                this.secondaryAssignment.code = null;
                this.secondaryAssignment.fraction = null;
                this.requestsToComplete = 0;
                if (this.cmsId !== null){
                    this.requestAssignments();
                }
            },

            show: function(){  
                console.debug("AssignmentEditor » scheduling to display while the CMS ID is still " + this.cmsId);
                var compo = this;
                // FUTURE TIP: mixing sync and async interactions can have weird effects. Here we rely on certain values being propagated correctly, so the popup-showing code is added to the queue.
                this.$nextTick(function(){
                    console.debug("AssignmentEditor » now really showing, the CMS ID is now " + this.cmsId);
                    compo.$refs.dialog.show();
                });
            },

            requestProjects: function(){
                var compo = this;
                new AjaxCalls.ProjectsCall().setSuccessCallback(function(data){compo.projectsData=data;}).get();
            },

            requestAssignments: function(){
                console.debug('AssignmentEditor » will request assignments info for CMS ID ' + this.cmsId);
                new AjaxCalls.AssignmentsCall().setCmsId(this.cmsId).setActiveOnly(true).setSuccessCallback(this.storeAssignments).get();
            },

            storeAssignments: function(data){
                console.debug("AssignmentEditor » Received Assignment data");
                var compo = this;
                if (Array.isArray(data)){
                    data.forEach(e => {
                        if (e.fraction == 0){
                            compo.primaryAssignment.code = e.project_code;
                            compo.primaryAssignment.id = e.id;
                        } else {                            
                            compo.secondaryAssignment.code = e.project_code
                            compo.secondaryAssignment.fraction = e.fraction
                            compo.secondaryAssignment.id = e.id
                        }
                    });
                }
            },

            submitData: function(){
                var preparedCalls = [];
                
                var apiCall = new AjaxCalls.AssignmentsCall().setCmsId(this.cmsId).setProjectCode(this.primaryAssignment.code).setFraction(0).setSuccessCallback(this.afterSubmitted);
                if (this.primaryAssignment.id !== null){
                    apiCall.setId(this.primaryAssignment.id)
                }
                preparedCalls.push(function(){apiCall.post()});
                
                if ([undefined, null, ''].indexOf(this.secondaryAssignment.code) == -1){
                    // indicates we have something selected as the secondary assignment
                    console.debug('AssignmentEditor » secondary assignment is set to ' + this.secondaryAssignment.code);
                    var postCall2 = new AjaxCalls.AssignmentsCall().setCmsId(this.cmsId).setProjectCode(this.secondaryAssignment.code).
                        setFraction(this.secondaryAssignment.fraction).setSuccessCallback(this.afterSubmitted);
                    if (this.secondaryAssignment.id !== null){
                        postCall2.setId(this.secondaryAssignment.id)
                    }
                    preparedCalls.push(function(){postCall2.post()});
                }

                if ([null, undefined, ''].indexOf(this.secondaryAssignment.id) === -1  && (this.secondaryAssignment.fraction < 0.01 || [undefined, null, ''].indexOf(this.secondaryAssignment.code) > -1)){
                    console.debug("AssignmentEditor » secondary assignment's ID is set but there is no project code or zero fraction - unsetting the assignment!");
                    var deleteCall = new AjaxCalls.AssignmentsCall().setId(this.secondaryAssignment.id).setCmsId(this.cmsId).setSuccessCallback(this.afterSubmitted);
                    preparedCalls.push(function(){deleteCall.delete()});
                }

                this.requestsToComplete = preparedCalls.length;
                console.debug('AssignmentEditor » calls to dispatch: ' + preparedCalls.length);
                preparedCalls.forEach(f => {f()});
            },

            afterSubmitted: function(data){
                this.requestsToComplete -= 1;
                console.debug('AssignmentEditor » inside the post-post method, waiting for ' + this.requestsToComplete + ' more requests');
                if (this.requestsToComplete  == 0){
                    this.$store.commit('infoMessage','Project assignment saved successfully!')
                    this.$refs.dialog.beforeClose();
                    // only sending the CMS ID of the person whose data has been updated - parent component will need to refetch what's needed
                    this.$emit('updated', {cmsId: this.cmsId});
                }
            }
        },
        mounted: function(){
            this.requestProjects();
        }
    }
</script>

