<template>
        <v-dialog :value="value" @input='$emit("input", $value)' maxWidth="600px" class='zindex-modal'>
        <v-card>
            <v-card-title class="headline">
                <div class='dotted-text'>{{booking.title}} ({{bookingTimeRange}})</div>
            </v-card-title>
            <v-card-text>
                <v-row no-gutters class='mb-4 mt-4' style='line-height: 24px;'>
                    <v-col class='mr-2'>
                        Project: <strong>{{booking.project}}</strong>
                    </v-col>
                    <v-col>
                        <v-icon>mdi-account-multiple</v-icon>
                        {{booking.capacity || '-'}}
                    </v-col>
                    <v-col class='mr-2'>
                        Official: <v-icon>{{booking.official ? 'mdi-check' : 'mdi-close'}}</v-icon>
                    </v-col>
                    <v-col class='mr-2'>
                        Webcast: <v-icon>{{booking.webcast ? 'mdi-check' : 'mdi-close'}}</v-icon>
                    </v-col>
                    <v-col v-if='booking.password'>
                        <v-icon>mdi-key</v-icon>
                        {{booking.password}}
                    </v-col>
                </v-row>
                <div class='mb-4' v-if='booking.reason'>
                    <h4 >Reason</h4>
                    <p>
                        {{booking.reason}}
                    </p>
                </div>
                <div class='mb-4' v-if='booking.remarks'>
                    <h4>Remarks</h4>
                    <div>
                        {{booking.remarks}}
                    </div>
                </div>
                <div class='dotted-text' v-if='booking.agenda_url'>
                    <a>{{booking.agenda_url}}</a>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-row no-gutters class='ml-3'>
                    <v-btn 
                    v-if='canEdit' 
                    color="primary darken-1" 
                    text 
                    class='mr-2'
                    @click='handleActionSelect("edit")'
                >
                        <v-icon
                            left
                            dark
                        >
                            mdi-pencil
                        </v-icon>
                        Edit
                    </v-btn>
                    <template v-if='canChangeStatus'>
                        <v-btn 
                            color="green darken-1" 
                            text 
                            class='mr-2'
                            @click='handleActionSelect("approve")'
                        >
                            <v-icon
                                left
                                dark
                            >
                                mdi-check
                            </v-icon>
                            Approve
                        </v-btn>    
                        <v-btn 
                            color='red darken-1' 
                            text 
                            class='mr-2'
                            @click='handleActionSelect("cancel")'
                        >
                            <v-icon
                                left
                                dark
                            >
                                mdi-cancel
                            </v-icon>
                            Remove
                        </v-btn>
                    </template>
                </v-row>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" text @click="close">
                    Close
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<style>
    .dotted-text {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
</style>

<script>
import moment from 'moment';
import AjaxCalls from '../utils/AjaxCalls';

export default {
    props: {
        value: { type: Boolean, default: false},
        booking: { type: Object }
    },
    data(){
        return {
            status : null
        }
    },

    computed:{
        canEdit(){
            const links = this.booking['_links'];
            return this.booking.status === 'pending' && Object.prototype.hasOwnProperty.call(links, 'update');
        },
        canChangeStatus(){
            const links = this.status ? this.status['_links'] : {};
            return this.booking.status === 'pending' && Object.prototype.hasOwnProperty.call(links, 'update');
        },
        bookingTimeRange(){
            const start = moment(this.booking.time_start);
            return `${start.format('HH:mm')} - ${start.add(this.booking.duration, 'minutes').format('HH:mm')}`
        }
    },
    methods: {
        loadStatuses(id){
            new AjaxCalls.BookingStatusesCall()
                .setId(id)
                .setSuccessCallback(res => this.status = res)
                .get();
        },
        close(){
            this.$emit('input', false);
        },
        handleActionSelect(action){
            this.$emit('selectaction', action);
            this.close();
        }
    },
    watch:{
        booking(value){
            this.loadStatuses(value.id);
        }
    },
    mounted(){
        this.loadStatuses(this.booking.id);
    },
}
</script>