<template>
<edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on">          
            </slot>
        </template>
        <template v-slot:header>
            {{headerMessage}}
        </template>
        <template v-slot:fields="{values}">
            <v-text-field label="Start date" v-model="startDate" type="date" clearable></v-text-field>
            <v-text-field label="End date" v-model="endDate" type="date" clearable></v-text-field>
            <v-autocomplete :items="unitOptions" :item-text="'label'" :item-value="'id'" label="Source unit" v-model="srcUnitId" required clearable></v-autocomplete>
            <v-text-field label="Source position level" v-model="srcPositionLevel" type="number" clearable></v-text-field>
            <v-autocomplete label="Source position" :items="srcPositionOptions" v-model="srcPositionName" clearable></v-autocomplete>
            <v-autocomplete :items="unitOptions" :item-text="'label'" :item-value="'id'" label="Destination unit" v-model="dstUnitId" required clearable></v-autocomplete>                            
            <v-text-field label="Destination position level" v-model="dstPositionLevel" type="number" clearable></v-text-field>
            <v-text-field label="Destination position name" v-model="dstPositionName" clearable></v-text-field>
        </template>
    </edit-dialog>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue';

    export default {
        name: 'ExOfficioEditor',
        components: {
            'edit-dialog': VuetifyEditDialog,
        },
        data: function(){
            return {
                id: null,
                startDate: null,
                endDate: null,
                srcUnitId: null,
                dstUnitId: null,
                srcPositionLevel: null,
                dstPositionLevel: null,
                srcPositionName: null,
                dstPositionName: null,
                // something to be edited
                existingMandate: null,
                // options
                unitOptions: [],
                positionsStore: {},
                // modals
                modalStartDate: false,
                modalEndDate: false,
            };
        },
        props: {
            // id of the entry to be edited or null
            value: null,
        },
        mounted: function(){
            // this one will probably do nothing anyway as the component starts out with a null value
            this.loadMandate();
            // units can be loaded once only and stored in the component ever since
            this.loadUnits();
        },
        computed: {
            srcPositionOptions: function(){
                return (this.positionsStore[this.srcUnitId] || []).map(e => e.name);
            },
            dstPositionOptions: function(){
                return (this.positionsStore[this.dstUnitId] || []).map(e => e.name);
            },
            headerMessage: function(){
                return (this.id === null ? 'Define new ex-officio rule' : 'Edit ex-officio rule #'+this.id);
            }
        },
        watch: {
            value: function(newValue, oldValue){
                console.debug('The new mandate id is ' + newValue);
                // formResetting should be triggered from existingMandate's watcher
                if (this.value != null) {
                    this.loadMandate();
                }
                else {
                    this.existingMandate = null;
                }
            },
            existingMandate: function(){
                this.resetForm();
            },
            srcUnitId: function(newValue){
                this.loadPositions(newValue);
            },
            dstUnitId: function(newValue){
                this.loadPositions(newValue);
            }
        },
        methods: {
            submitData: function(){
                Ajax.postExOfficioMandate(this.id, this.srcUnitId, this.dstUnitId, Number(this.srcPositionLevel), Number(this.dstPositionLevel), this.srcPositionName || null, this.dstPositionName || null, this.startDate, this.endDate, this.afterSavedMandate);
            },
            afterSavedMandate: function(data){
                // todo: some processing, anything
                this.$store.commit('infoMessage', 'Mandate saved well!')
                this.$refs.dialog.beforeClose();
                this.$emit('updated', data)
            },
            loadMandate: function(){
                if (this.value != null){
                    var compo = this;
                    Ajax.getExOfficioMandate(this.value, function(data){
                        compo.existingMandate = data;
                        compo.resetForm();
                    });
                }
            },
            loadUnits: function(){
                // load all the org units to choose the position for
                Ajax.getOrgUnits(null, null, null, this.storeUnits, null, null);
            },
            updateUnit: function(unitData){
                // this method can be called from wrapping component to update the list of units available within the editor
                var index = this.unitOptions.findIndex(e => e.id == unitData.id);
                this.$set(this.unitOptions, index > 0 ? index : this.unitOptions.length, {id: unitData.id, label: (unitData.domain + ' ' + unitData.type)});
            },
            loadPositions: function(unitId){
                var compo = this;
                Ajax.getOrgChartPositions(function(data){
                    compo.$set(compo.positionsStore, unitId, data);
                }, Ajax.defaultFailHandlerm, unitId);
            },
            storeUnits: function(data){
                this.unitOptions = data.map(e => ({id: e.id, label: (e.domain + ' ' + e.type), type: e.type}));
            },
            resetForm: function(){
                // reinitialize the form to empty or restore the values stored for current unit
                if (this.existingMandate == null) {
                    this.id = null;
                    this.startDate = null;
                    this.endDate = null;
                    this.srcUnitId = null;
                    this.dstUnitId = null;
                    this.srcPositionLevel = null;
                    this.dstPositionLevel = null;
                    this.srcPositionName = null;
                    this.dstPositionName = null;
                } else {
                    this.id = this.existingMandate.id;
                    this.startDate = this.existingMandate.start_date;
                    this.endDate = this.existingMandate.end_date;
                    this.srcUnitId = this.existingMandate.src_unit_id;
                    this.dstUnitId = this.existingMandate.dst_unit_id;
                    this.srcPositionLevel = this.existingMandate.src_position_level;
                    this.dstPositionLevel = this.existingMandate.dst_position_level;
                    this.srcPositionName = this.existingMandate.src_position_name;
                    this.dstPositionName = this.existingMandate.dst_position_name;
                }
            },
            show: function(){
                this.$refs.dialog.show()
            }
        }
    }
</script>