<template>
    <v-dialog v-model="value" maxWidth="290px">
        <v-card>
            <v-card-title class="headline">Warning</v-card-title>
            <v-card-text v-if="person">
                <div>
                    You are about to 
                    <strong>{{action}}</strong> 
                    the authorship of {{name}}.
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="green darken-1" text @click="close">
                    Close
                </v-btn>

                <v-btn color="green darken-1" text @click="submit">
                    Continue
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';
import { FLAG_MISC_AUTHORNO } from '../utils/constants';

export default {
    name: 'MemberAuthorConfirmationDialog',
    props: ['value', 'person'],
    computed: {
        action(){
            return this.$props.person.flagId === FLAG_MISC_AUTHORNO ? 'unfreeze' : 'freeze'
        },
        name(){
            return `${this.$props.person.lastName} ${this.$props.person.firstName}`
        }
    },
    methods: {
        close(){
            this.$emit('input', false);
        },
        submit(){
            new AjaxCalls.MemberAuthorsCall()
                .setCmsId(this.$props.person.cmsId)
                .setFlagId(this.action === 'freeze' ? FLAG_MISC_AUTHORNO : null)
                .setSuccessCallback(data => {
                    this.$emit('suspensionupdate', data.flagId);
                    this.displaySuccessMessage(data);
                    this.close();        
                })
                .put();
        },
        displaySuccessMessage(person){
            this.$store.commit('infoMessage', `Authorship of ${this.name} is now ${person.isAuthorSuspended ? 'frozzen' : 'unfrozzen'}.`);       
        }
        
    }
}
</script>