<template>
    <edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on">          
            </slot>
        </template>
        <template v-slot:header>{{editId == null ? 'New Position' : 'Edit Position'}}</template>
        <template v-slot:fields="{values}">
            <v-text-field v-model="editName" label="Position's name" ></v-text-field>
            <v-autocomplete v-model="editUnitTypeId" :items="unitTypes" label="Unit type" item-value="id" item-text="name"></v-autocomplete>
            <v-text-field v-model="editLevel" label="Position's level" class="mt-0" type="number"></v-text-field>
            <v-checkbox v-model="editIsActive" label="Is active?"></v-checkbox>
        </template>
    </edit-dialog>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue'

    export default {
        name: 'OrgPositionEditor',
        components: {
            'edit-dialog': VuetifyEditDialog,          
        },
        props:{
            // used to initialize the component for edition
            value: null,
        },
        data: function(){
            return {
                editId: null,
                editName: null,
                editUnitTypeId: null,
                editLevel: null,
                editIsActive: null,
                //
                existingPosition: null,
                unitTypes: [],
            };
        },
        watch: {
            value: function(newVal){
                if (newVal == null || newVal == undefined){
                    this.existingPosition = null;
                    this.resetForm();
                } else {
                    this.loadPosition(newVal);
                }
            }
        },
        methods:{
            show: function(){
                this.$refs.dialog.show();
            },
            loadUnitTypes: function(){
                var compo = this;
                Ajax.getOrgUnitTypes(null, null, null, function(data){
                    compo.unitTypes = data;
                });
            },
            loadPosition: function(id){
                Ajax.getPositions(this.storePosition, Ajax.defaultFailHandler, [id]);
            },
            storePosition: function(data){
                this.existingPosition = data[0];
                this.resetForm();
            },
            resetForm: function(){
                if (this.existingPosition == null || this.existingPosition == undefined){
                    this.editId = null;
                    this.editName = null;
                    this.editUnitTypeId = null;
                    this.editLevel = null;
                    this.editIsActive = null;
                } else {
                    this.editId = this.existingPosition.id;
                    this.editName = this.existingPosition.name;
                    this.editUnitTypeId = this.existingPosition.unit_type_id;
                    this.editLevel = this.existingPosition.level;
                    this.editIsActive = this.existingPosition.is_active;
                }
            },
            submitData: function(){
                Ajax.postPosition(this.editId, this.editName, this.editUnitTypeId, this.editLevel, this.editIsActive, this.afterSubmitted);
            },
            afterSubmitted: function(data){
                this.$store.commit('infoMessage', data['name'] + ' of ' + data['unit_type'] + ' position saved successfully!')
                this.$refs.dialog.beforeClose();
                this.$emit('updated', data);
            }
        },
        mounted: function(){
            this.loadUnitTypes();
        }
    }
</script>
