<template>
    <edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on">          
            </slot>
        </template>
        <template v-slot:header>{{dialogHeader}}</template>
        <template v-slot:fields="{values}">
            <v-text-field v-model="domain" label="Unit's domain" model="values.domain"></v-text-field>
            <v-autocomplete v-model="type" :items="options.unitType" label="Unit type" item-value="name" item-text="name"></v-autocomplete>
            <v-autocomplete v-model="superiorUnitId" :items="superiorUnitOptions" label="Superior unit" item-value="id" item-text="label" clearable></v-autocomplete>
            <v-autocomplete v-model="enclosingUnitId" :items="superiorUnitOptions" label="Enclosing unit" item-value="id" item-text="label" clearable></v-autocomplete>
            <v-autocomplete v-model="outermostUnitId" :items="superiorUnitOptions" label="Outermost unit" item-value="id" item-text="label" clearable></v-autocomplete>
            <v-checkbox v-model="isActive" label="Active?"></v-checkbox>
        </template>
    </edit-dialog>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue'

    export default {
        name: 'OrgUnitEditor',
        components: {
            'edit-dialog': VuetifyEditDialog,          
        },
        props:{
            // used to initialize the component for edition
            value: null,
        },
        data: function(){
            return {
                options: {
                    unitType: [],
                    superiorUnit: [],
                },
                existingUnit: null,
                // form data
                domain: null,
                type: null,
                superiorUnitId: null,
                outermostUnitId: null,
                isActive: null,
                enclosingUnitId: null
            };
        },
        computed: {
            superiorUnitOptions: function(){
                return this.options.superiorUnit.map(e => ({id: e.id, label: (e.domain + ' ' + e.type)}))
            },
            dialogHeader: function(){
                if (this.existingUnit == null){
                    return 'Create a new unit';
                } else {
                    return 'Edit unit: ' + this.existingUnit.domain + ' ' + this.existingUnit.type;
                }
            }
        },
        mounted: function(){
            console.debug('Mounted OrgUnit Editor for unit id: ' + this.value);
            this.loadUnitData();
            this.loadUnitTypes();
            this.loadUnits();
        },
        watch: {
            value: function(newValue, oldValue){
                if (newValue != null){
                    this.loadUnitData();
                } else {
                    this.existingUnit = null;
                    this.resetForm();
                }
            },
            enclosingUnitId: function(newValue, oldValue){
                if (newValue == oldValue) return;
                var unit = null;
                var outerId = newValue;
                while (outerId != null){
                    unit = this.options.superiorUnit.find(u => u.id == outerId);
                    outerId = unit.enclosing_unit_id;
                }
                this.outermostUnitId = (unit != null ? unit.id : null);
            }
        },
        methods: {
            resetForm: function(){
                if (this.existingUnit != null){
                    this.id = this.existingUnit.id;
                    this.domain = this.existingUnit.domain;
                    this.type = this.existingUnit.type;
                    this.superiorUnitId = this.existingUnit.superior_unit_id;
                    this.enclosingUnitId = this.existingUnit.enclosing_unit_id;
                    this.outermostUnitId = this.existingUnit.outermost_unit_id;
                    this.isActive = this.existingUnit.is_active;
                } else {
                    this.id = null;
                    this.domain =  null;
                    this.type = null;
                    this.superiorUnitId = null;
                    this.enclosingUnitId = null;
                    this.outermostUnitId = null;
                    this.isActive = null;
                }
            },
            loadUnitData: function(){
                if (this.value != null){
                    var compo = this;
                    Ajax.getOrgUnit(this.value, function(data){
                        compo.existingUnit = data;
                        compo.resetForm();
                    });
                }
            },
            loadUnitTypes: function(){
                var compo = this;
                Ajax.getOrgUnitTypes(null, null, null, function(data){
                    data.sort(function(a, b){a.name.localeCompare(b.name)});
                    compo.options.unitType = data;
                });
            },
            loadUnits: function(){
                var compo = this;
                Ajax.getOrgUnits(null, null, null, function(data){
                    compo.options.superiorUnit = data;
                });
            },
            submitData: function(){
                var compo = this;
                console.debug('ABout to submit unit data, superior: ' + this.superiorUnitId);
                Ajax.postOrgUnit(this.domain, (this.type || '').toLowerCase(), this.isActive, this.superiorUnitId || null, this.enclosingUnitId || null, this.outermostUnitId || null, this.id, this.afterSaved);
            },
            afterSaved: function(data){
                console.debug('It looks like the unit data was saved well.');
                this.$store.commit('infoMessage', data['domain'] + ' ' + data['type'] + ' data saved successfully!')
                this.$refs.dialog.beforeClose();
                
                // update our base of units
                var index = this.options.superiorUnit.findIndex(e => e.id == data.id);
                if (index > -1){
                    this.$set(this.options.superiorUnit, index, data);
                } else{
                    this.$set(this.options.superiorUnit, this.options.superiorUnit.length, data);
                }

                this.$emit('updated', data);
            },
            show: function(){
                this.$refs.dialog.show();
            }
        }
    }
</script>

