<template>
    <v-dialog v-model="value" maxWidth="290px">
        <v-card>
            <v-card-title class="headline">Warning</v-card-title>
            <v-card-text v-if="person">
                <div v-if="action === 'admit'">
                    You are about to <strong>unblock</strong> authorship for {{name}}.
                </div>
                <div v-else>
                    You are about to <strong>delay</strong> authorship for {{name}}.
                </div>
                
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="close"
                >
                    Close
                </v-btn>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="submit"
                >
                    Continue
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';

export default {
    name: 'PendingAuthorConfirmationDialog',
    props: ['value', 'person', 'action'],
    computed: {
        name(){
            return `${this.$props.person.lastName} ${this.$props.person.firstName}`
        }
    },
    methods: {
        close(){
            this.$emit('input', false);
        },
        submit(){
            new AjaxCalls.PendingAuthorsCall()
                .setCmsId(this.$props.person.cmsId)
                .setAction(this.$props.action)
                .setSuccessCallback(data => {
                    this.$emit('actioncompleted', this.$props.person.cmsId);
                    this.displaySuccessMessage(data);
                    this.close();        
                })
                .put();
        },
        displaySuccessMessage(person){
            this.$store.commit('infoMessage', this.$props.action === 'freeze' ? `Delayed authorship for ${this.name}.` : `Unblocked ${this.name} for authorship.`);       
        }
        
    }
}
</script>