<template>
    <v-dialog v-model="value" maxWidth="290px">
        <v-card>
            <v-card-title class="headline">Warning</v-card-title>
            <v-card-text v-if="person">
                <div>
                    You are about to 
                    <strong>{{action}}</strong> 
                    the activity of {{name}}.
                </div>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="close"
                >
                    Close
                </v-btn>

                <v-btn
                    color="green darken-1"
                    flat="flat"
                    @click="submit"
                >
                    Continue
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';

export default {
    name: 'SuspensionConfirmationDialog',
    props: ['value', 'person'],
    computed: {
        action(){
            return this.$props.person.isAuthorSuspended ? 'unsuspend' : 'suspend'
        },
        name(){
            return `${this.$props.person.lastName} ${this.$props.person.firstName}`
        }
    },
    methods: {
        close(){
            this.$emit('input', false);
        },
        submit(){
            new AjaxCalls.SuspensionsCall()
                .setCmsId(this.$props.person.cmsId)
                .setIsAuthorSuspended(this.action === 'suspend')
                .setSuccessCallback(data => {
                    this.$emit('suspensionupdate', data.isAuthorSuspended);
                    this.displaySuccessMessage(data);
                    this.close();        
                })
                .put();
        },
        displaySuccessMessage(person){
            this.$store.commit('infoMessage', `${this.name} is now ${person.isAuthorSuspended ? 'suspended' : 'unsuspended'}.`);       
        }
        
    }
}
</script>