<template>
<edit-dialog ref='dialog' @reset="resetForm" @submit="submitData">
        <template v-slot:activator='{on}'>
            <slot name="activator" :on="on">          
            </slot>
        </template>
        <template v-slot:header>{{id == null ? 'New Tenure' : 'Edit Tenure'}}</template>
        <template v-slot:fields="{values}">
            <person-picker ref="personPicker" label="CMS Member" v-model="cmsId" required></person-picker>
            <v-autocomplete :items="unitOptions" :item-text="'label'" :item-value="'id'" label="Unit" v-model="unitId" required></v-autocomplete>                            
            <v-autocomplete :items="positionOptions" :item-text="'label'" :item-value="'id'" label="Position" v-model="positionId" required ></v-autocomplete>
            <v-dialog ref="dialogStartDate" v-model="modalStartDate" :return-value.sync="startDate" persistent lazy full-width width="290px">
                <template v-slot:activator="{ on }">
                    <v-text-field v-model="startDate" label="Start Date" prepend-icon="event" readonly v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="startDate" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modalStartDate = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialogStartDate.save(startDate)">OK</v-btn>
                </v-date-picker>
            </v-dialog>
            <v-dialog ref="dialogEndDate" v-model="modalEndDate" :return-value.sync="endDate" persistent lazy full-width width="290px" >
                <template v-slot:activator="{ on }">
                    <v-text-field v-model="endDate" label="End Date" prepend-icon="event" readonly v-on="on" ></v-text-field>
                </template>
                <v-date-picker v-model="endDate" scrollable>
                <v-spacer></v-spacer>
                <v-btn text color="primary" @click="modalEndDate = false">Cancel</v-btn>
                <v-btn text color="primary" @click="$refs.dialogEndDate.save(endDate)">OK</v-btn>
                </v-date-picker>
            </v-dialog>

        </template>
    </edit-dialog>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyEditDialog from '../components/VuetifyEditDialog.vue';
    import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue';

    export default {
        name: 'TenureEditor',
        components: {
            'person-picker': VuetifyPersonPicker,
            'edit-dialog': VuetifyEditDialog,
        },
        data: function(){
            return {
                id: null,
                cmsId: null,
                positionId: null,
                unitId: null,
                startDate: null,
                endDate: null,
                // something to be edited
                existingTenure: null,
                // options
                unitOptions: [],
                positionOptions: [],
                // modals
                modalStartDate: false,
                modalEndDate: false,
            };
        },
        props: {
            // id of the tenure to be edited or null
            value: null,
        },
        mounted: function(){
            // this one will probably do nothing anyway as the component starts out with a null value
            this.loadTenure();
            // units can be loaded once only and stored in the component ever since
            this.loadUnits();
        },
        watch: {
            value: function(newValue, oldValue){
                console.debug('The new tenure id is ' + newValue);
                // formResetting should be triggered from existingTenure's watcher
                if (this.value != null) this.loadTenure();
                else this.existingTenure = null;
            },
            existingTenure: function(){
                this.resetForm();
            },
            unitId: function(){
                // positions need to be re-loaded whenever the unitId changes
                this.loadPositions();
            }
        },
        methods: {
            resetForm: function(){

            },
            submitData: function(){
                // todo: will the dates need some (sub)stringing
                Ajax.postTenure(this.afterSavedTenure, Ajax.defaultFailHandler, this.id, this.cmsId, this.unitId, this.positionId, this.startDate, this.endDate);
            },
            afterSavedTenure: function(data){
                // todo: some processing, anything
                this.$store.commit('infoMessage', 'Tenure saved well!')
                this.$refs.dialog.beforeClose();
                this.$emit('updated', data)
            },
            loadTenure: function(){
                if (this.value != null){
                    var compo = this;
                    Ajax.getTenure(this.value, function(data){
                        compo.existingTenure = data;
                    });
                }
            },
            loadUnits: function(){
                // load all the org units to choose the position for
                Ajax.getOrgUnits(null, null, null, this.storeUnits, null, null);
            },
            updateUnit: function(unitData){
                // this method can be called from wrapping component to update the list of units available in tenures editor
                var index = this.unitOptions.findIndex(e => e.id == unitData.id);
                this.$set(this.unitOptions, index > 0 ? index : this.unitOptions.length, {id: unitData.id, label: (unitData.domain + ' ' + unitData.type)});
            },
            loadPositions: function(){
                // this should be invoked whenever the unit changes
                Ajax.getOrgChartPositions(this.storePositions, Ajax.defaultFailHandlerm, this.unitId);
            },
            storeUnits: function(data){
                this.unitOptions = data.map(e => ({id: e.id, label: (e.domain + ' ' + e.type)}));
            },
            storePositions: function(data){
                this.positionOptions = data.map(e => ({id: e.id, label: e.name}));
            },
            resetForm: function(){
                // reinitialize the form to empty or restore the values stored for current unit
                if (this.existingTenure == null) {
                    this.id=null;
                    this.cmsId=null;
                    this.positionId=null;
                    this.unitId=null;
                    this.startDate=null;
                    this.endDate=null;
                } else {
                    this.id=this.existingTenure.id;
                    this.cmsId=this.existingTenure.cms_id;
                    this.positionId=this.existingTenure.position_id;
                    this.unitId=this.existingTenure.unit_id;
                    this.startDate=this.existingTenure.start_date;
                    this.endDate=this.existingTenure.end_date;
                }
            },
            show: function(){
                this.$refs.dialog.show()
            }
        }
    }
</script>