<template>
    <v-container class="text-center" fluid>
        <v-row class="mb-4"> 
            <v-col cols="3">
                <v-switch v-model="exOfficio" :label="exOfficioLabel" @change="onChange"></v-switch>
            </v-col>
            <v-col cols="3">
                <v-switch v-model="specificDate" :label="specificDateLabel" @change="onChange"></v-switch>
            </v-col>
            <v-col cols="3">
                <v-text-field label="Show state as of" :disabled="!specificDate" type="date" v-model="effectiveDate" @change="onChange"></v-text-field>
            </v-col>
            <v-col cols="3">
                <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange"></v-text-field>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'TenuresFilter',
        data: function(){
            return {
                specificDate: true,
                exOfficio: true,
                effectiveDate: new Date().toISOString().substring(0, 10),
                search: '',
            };
        },
        computed: {
            specificDateLabel: function(){
                return this.specificDate ? 'Showing state as of ' + this.effectiveDate : 'Showing all-time record';
            },
            exOfficioLabel: function(){
                return this.exOfficio ? 'Including ex-offico tenures' : 'Skipping ex-officio tenures';
            }
        },
        methods: {
            onChange: function(){
                console.debug('Filtering settings changed...');
                var data = {'date': this.specificDate ? this.effectiveDate : null, 'exOfficio': this.exOfficio, 'search': this.search};
                this.$emit('change', data);
            }
        }
    }
</script>