<template>
    <v-dialog v-model="dialog" persistent max-width="500">
        <v-card>
            <v-card-title class="headline">
                <slot name="title">Are you sure...?</slot>
            </v-card-title>
            <v-card-text>
                <slot name="message">
                    Please confirm that you really want to perform the action...
                </slot>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="green darken-1" text @click.stop="cancel">Cancel</v-btn>
                <v-btn color="green darken-1" text @click.stop="confirm">Confirm</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'VuetifyConfirmDialog',
        data: function(){
            return {
                dialog: null,
            }
        },
        props: ['value'],
        watch: {
            dialog: function(newValue, formerOne){
                this.$emit('input', newValue);
            },
            value:function(newValue, formerOne){
                this.dialog = newValue;
            }
        },
        methods:{
            show: function(){
                this.dialog = true;
            },
            hide: function(){
                this.dialog = false;
            },
            confirm: function(){
                this.$emit('confirmed', this.value);
                this.dialog = false;
            }, 
            cancel: function(){
                this.$emit('cancelled');
                this.dialog = false;
            }
        }
    }
</script>

