<template>
    <v-autocomplete 
        v-model="model" 
        :items="items" 
        :loading="isLoading" 
        :item-text="itemText" 
        :item-value="itemValue" 
        :search-input.sync="search"
        :no-filter='true' 
        :placeholder="placeholder"
        v-bind="$attrs" 
        v-on="$listeners"
        @update:searchInput="requestSuggestions($event)"
        @change="itemSelected"
        >
    </v-autocomplete>
</template>

<script>
    import AjaxCalls from '../utils/AjaxCalls.js'
import Ajax from '../utils/Ajax';
    export default {
        name: 'VuetifyAjaxPicker',
        props: {
            // implementing the v-model "protocol": https://vuejs.org/v2/guide/components.html [also through the 'v-on="$listeners' above"]
            value: null,
            placeholder: {type: String, default: 'Please start typing'},
            itemText: {type: String, default: 'text'},
            itemValue: {type: String, default: 'value'},
            itemFormatFunction: {type: Function, default: function(itemDict){return itemDict;}},
            requestDelay: {type: Number, default: 400},
            queryEndpoint: {type: String, default: ''},
            queryTermParamName: {type: String, default: 'term'},
            minTermLength: {type: Number, default: 3}
        },
        data: function(){
            return {
                model: null,
                isLoading: false,
                search: '',
                itemsRaw: [],
                timeoutHandle: null,
                // selecting an item updates the text in the box. We want that update to be ignored.
                skipNextNChanges: 0,
            };
        },
        computed: {
            items: function(){
                // trnsforms the raw ajax response into a list of choices
                return this.itemsRaw.map(this.itemFormatFunction);
            }
        },
        methods: {
            itemSelected: function(){
                console.debug('An item has been selected next 1 text update will be ignored');
                this.skipNextNChanges = 1;
            },
            requestSuggestions: function(eventData){
                // will only obtain the refresh ticket
                if (this.skipNextNChanges > 0){
                    this.skipNextNChanges-= 1;
                    return;
                }
                if ((eventData || '').length >= this.minTermLength){
                    window.clearTimeout(this.timeoutHandle);
                    // issues an Ajax call and stores retrieved suggestions
                    this.timeoutHandle = window.setTimeout(this.performDelayedRequestForSuggestions, this.requestDelay);
                }
            },
            performDelayedRequestForSuggestions: function(){
                // the requests usually need throttling not to trigger after every bit of input - so here's the actual request part
                console.debug('About to request some suggestions from ' + this.queryEndpoint);
                var call = new AjaxCalls.Call(this.queryEndpoint).set(this.queryTermParamName, this.search).setSuccessCallback(this.storeSuggestions);
                call.get();
            },
            storeSuggestions: function(data){
                // stores fetched suggestions
                console.debug('Received AJAX data from ' + this.queryEndpoint);
                this.itemsRaw = data;
            },
            requestEntry: function(){
                // called when the field's value is set externally (eg. CMS ID is set and the component needs to grab the corresponding text representation)
            },
            storeEntry: function(data){
                // performs the necessary steps to put the text representation in place
            }
        }
    }
</script>

