<template>
    <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
            <slot name="activator" v-bind:on="on">
                <!-- Forwarding / shadowing the parent's slot here -->
                <v-btn color="primary" dark v-on="on">
                    <slot name="button-label">Edit</slot>
                </v-btn>
            </slot>
        </template>
        <v-card>
            <v-toolbar color="blue" dark>
                <v-toolbar-title><slot name="header" v-bind:values="this.fieldValues">Edit</slot></v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar> 
            <v-card-text>
                <slot name="fields" v-bind:values="this.fieldValues"></slot>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="beforeClose">Close</v-btn>
                <v-btn color="blue darken-1" text @click="resetValues">Reset</v-btn>
                <v-btn color="blue darken-1" text @click="beforeSave">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: 'VuetifyEditDialog',
        data: function(){
            return {
                dialog: false,
                fieldValues: {}
            }
        },
        props: ['value'],
        watch: {
            value: function(newValue, formerOne){
                this.dialog = newValue;
            },
            dialog: function(newValue, formerOne){
                this.$emit('input', newValue);
            }
        },
        methods: {
            // this is a callback that will run after the POST bounces back. Either it will hide the window and display a happy message or keep the window and show a sad message.
            handleSuccess: function(message){
                // will show a message and hide the dialog
                this.$store.commit('infoMessage', message);
                this.dialog = false;
                this.resetValues()
            },
            handleFailure: function(request, message){
                // message param will override the generic message-construction mechanism
                if (message == null || message.length() == 0){
                    message = request.responseJSON.message || '';
                    var errors = ['responseJSON', 'errors'].reduce((xs, k) => (xs && xs[k]) ? xs[k] : null, request);
                    if (errors){
                        Object.values(errors).forEach((e, idx) => {message += ((idx == 0 ? ': ' : ', ') + e)});
                    }
                }
                this.$store.commit('errorMessage', message);
            },
            resetValues: function(){
                Object.keys(this.fieldValues).forEach(key => {this.fieldValues[key] = null;});
                this.$emit('reset');
            },
            beforeSave: function(){
                this.$emit('submit', this.fieldValues)
            },
            beforeClose: function(){
                this.dialog = false;
            },
            show: function(){
                // can be chained up and down the hierarchy of components to allow opening / closing the same instance of dialog for different sets of data
                // alternatively this component's dialog variable would have to change with enclosing components' model.
                this.dialog = true;
            }
        }

    }
</script>