<template>
        <v-autocomplete 
            :v-model="model"
            :items="items"
            :loading="isLoading"
            :item-text="'label'"
            :item-value="'code'"
            :search-input.sync="search"
            @change="changeListener"
            :no-filter='true'
            :placeholder="'Please start typing institute\'s code or name.'"
            v-bind="$attrs"
            v-on="$listeners"
        >
        </v-autocomplete>
</template>

<script>

import Ajax from '../utils/Ajax.js'

export default {
    name: 'VuetifyInstitutePicker',
    
    data: function(){
        return {
            entries: [],
            isLoading: false,
            model: null,
            search: '',
            searchTerm: '',
            timeoutVar: null,
            placeholder: null,
        }
    },

    computed: {
        items: function(){
            var data = [];
            for (var i in this.entries){
                    data.push({
                        label: this.labelFromData(this.entries[i]),
                        code: this.valueFromData(this.entries[i])
                    });
            }
            return data;
        }
    },

    methods: {

        changeListener: function(anything){
            console.debug("Change listener invoked.");
        },

        labelFromData: function(data){
            return data['code'] + ' (' + data['name'] + ')'
        },

        valueFromData: function(data){
            return data['code'];
        },

        suppressQuery: function(searchTerm){
            // this is a prevention mechanism against user selection triggering another autocomplete search for the nicely formatted label
            // any attempt to use the events proved futile
            for (var i in this.entries){
                if (this.labelFromData(this.entries[i]) == searchTerm){
                    console.debug('Suppressing suggestions query for input: ' + searchTerm);
                    return true;
                }
            }
            return false;
        },

        fetchInstDataForValue: function(instCode){
            console.debug('To Be Implemented!');
            /*
                Used to display correct data when the CMS ID is set externally (e.g. editing some entries).
                Ideally, it should be automatically invoked by the component whenever a value is enforced.
            */
            // console.debug("VuetifyPersonPicker: Fetching display info for received CMS ID " + cmsId);
            // var component = this;
            // Ajax.getUserInfo(cmsId, function(userData){
            //     /*
            //         As long as the relevant fields are named identically between the relevant endpoints,
            //         we can just push the data to entries and rely on the computed property to transform it
            //         into a meaningful dropdown item
            //     */
            //     component.entries = [userData];
            // });
        }
    },
    watch:{
        search: function(term) {
            // suppress queries triggered by selection from drop-down (as ooposed to queries triggered by users typing something in)
            if (this.suppressQuery(term)) return;
            console.debug('Search callback in action');
            if (term == null || term.length == 0) return;
            console.debug('VuetifyPersonPicker, autocomplete, term is: ' + term);
            if (this.timeoutVar != null){
                window.clearTimeout(this.timeoutVar);
            }
            var compo = this;
            this.timeoutVar = window.setTimeout(function(){
                if (compo.isLoading) return;
                compo.isLoading = true;

                console.debug("Will re-fetch the list of suggestions");
                compo.entries = [];
                Ajax.getInstSuggestions(term, function(data){
                    compo.entries = data;
                    compo.isLoading = false;
                    console.debug("VuetifyPersonPicker received " + compo.entries.length + " search suggestions.");
                });
            }, 433);
        },
    }
}
</script>

<style>

</style>
