<template>
        <v-row  justify="center">
            <v-dialog v-model="visible" scrollable max-width="450px">
                
                <template v-slot:activator="{ on }">
                    <slot name="activator" :on='on'>
                        <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
                    </slot>
                </template>
                
            <v-card>
                <v-card-title class="subheading">
                    <slot name="title"></slot>
                </v-card-title>
                <v-card-text>
                    <slot name="body">

                    </slot>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="clickClose" block >Dismiss</v-btn>
                </v-card-actions>
            </v-card>
            </v-dialog>
        </v-row>
</template>


<script>
export default {
    name: 'VuetifyDetailsDialog',
    props: {
        value: {type: Boolean, default: false, aa: 'sd'},
    },
    data: function(){
        return {
            visible: false,
        };
    },
    methods: {
        clickClose: function(){
            console.debug('Oh no, they are closing me!');
            this.visible = false;
            this.$emit('input', false);
        }
    }
}
</script>

<style>

</style>
