<template>
   <v-container class="text-center" fluid>
        <v-row class="mb-4"> 
            <v-col cols="12">
                <v-card>
                    <v-toolbar dark color="blue">
                        <slot name="toolbar-left"></slot>
                        <v-spacer></v-spacer>
                        <slot name="toolbar-middle">
                            <v-toolbar-title><slot name="toolbar-title"></slot></v-toolbar-title>
                        </slot>
                        <v-spacer></v-spacer>
                        <slot name="toolbar-right"></slot>
                    </v-toolbar>
                    
                    <v-card-title>
                        <slot name="header"></slot>
                    </v-card-title>

                    <v-row  >
                        <v-col cols="12">
                            <slot name="body"></slot>
                        </v-col>
                    </v-row>

                    <v-card-actions>
                        <slot name="actions"></slot>
                    </v-card-actions>

                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'VuetifyPage',
    }
</script>

