<template>
    <div class="genericTableWrapper">
        <div style="text-align: center;">
            <h3>{{title}}</h3>
        </div>
        <table v-if="this.tableData" class="simple-table">
            <thead>
            <tr>
                <th v-for="header in tableData['headers']">{{headerTitle(header)}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in tableData['rows']">
                <td v-for="header in tableData['headers']">{{row[header]}}</td>
            </tr>
            </tbody>
            <tfoot v-if="dataTable">
            <tr>
                <th v-for="header in tableData['headers']"><input type="text" style="width: 100%;" v-bind:placeholder="'Search ' + headerTitle(header)"/></th>
            </tr>
            </tfoot>
        </table>
        <div v-else class="simple-table-splash">
            <h4 align="center">
                Data is being loaded...
            </h4>
        </div>
    </div>
</template>

<script>
    import Ajax from '../utils/Ajax.js'

    export default {
        name: "GenericTable",
        
        data: function(){
            return {
                tableData: null,
                dtHandle: null,
            }
        },
        props: {
            columnsOrder: {type: Array},
            headers: {default: function(){return {}}, type: Object},
            dataTable: {default: false, type: Boolean},
        },
        created: function(){
            console.debug("GenericTable.vue: CREATED hook called");
            this.refetch();
        },
        updated: function(){
            console.debug("GenericTable.vue: UPDATED hook called");
            if (this.tableData !== null){
                this.redraw();
            }
        },
        watch: {
        
        },
        computed:{
            title: function(){return 'Data';}
        },
        methods: {
            headerTitle: function(rawTitle){
                return rawTitle in this.headers ? this.headers[rawTitle] : rawTitle;
            },
            // to be passed to the ajax call as method processing the output
            dataSuccess: function(data, status){
                console.debug('Generic table received data!');

                var component = this;
                var newData = {};
                var columns = this.$props['columnsOrder'];
                var columnsMap = this.$props['headers'];
                if (columnsMap){
                    this.$data['headers'] = columnsMap;
                }

                newData['rows'] = data;
                columns = columns ? columns : (data ? Object.keys(data[0]) : []);
                newData['headers'] = columns ? columns :  Object.keys(data[0]);
                component.$data['tableData'] = newData;
            },
            refetch: function(){},
            redraw: function(){
                /*
                Initialize the DataTable (if instructed so), but only once - the very first time it's needed
                */
                if (this.dataTable && this.dtHandle === null){
                    console.debug('GenericTable mixin: "redraw" running and creating DataTable instance');
                    var table = $('table', $(this.$el)).DataTable({
                        scrollX: false,
                        fixedHeader: {header: true},
                        stateSave: false,
                        dom: 'Bfrtipl',
                        buttons: [{extend: 'pdf', orientation: 'landscape'}, 'excel', 'csv', 'copy', 'colvis'],
                        iDisplayLength: 20,
                        aLengthMenu: [[20, 50, 100, -1], [20, 50, 100, "All"]],
                        columnDefs: [{targets: 'hidden', visible: false}]
                    });

                    table.columns().every( function () {
                        var that = this;
                        $('input', that.footer()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that.search( this.value ).draw();
                            }
                        });
                    });

                    this.dtHandle = table;
                } else if (this.dtHandle != null) {
                    console.debug('GenericTable mixin: "redraw" called and DataTable is about to be de-drawn.');
                    this.dtHandle.draw();
                } else {
                    console.debug('GenericTable mixin: "redraw" called but there is nothing to be done - skipping.');
                }
            }
        }
    }
</script>
