{% extends "bootstrap/base.html" %}

{% set url_root = request.url_root | replace ('https://', '') | replace ('http://', '') %}

{% block styles %}
    {{ super() }}
    <!-- Remove this -->
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        {% if is_prod() %}
            console._debug = console.debug;
            console._log = console.log;
            console.log = function (someText) {
            };
            console.debug = console.log;
        {% endif %}

        var $SCRIPT_ROOT = '{{request.script_root}}';
        
    </script>

    {% if is_dev() %}
    <script type="text/javascript" src="{{request.script_root}}/static/vue/dist/build.js"></script>
    {% else %}
    <script type="text/javascript" src="{{request.script_root}}/static/js/npm-build.js"></script>
    {% endif %}

    <script type="text/javascript">

        $(document).ready(function(){

            // Requires jQuery!
            jQuery.ajax({
                url: "https://its.cern.ch/jira/s/32b7cc9fc9e5ae832380d32ba40f253f-T/-ed8qqe/710003/1d55dbd34e10bce6df51d8250ee754f7/2.0.30/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?locale=en-US&collectorId=ba0fe8ed",
                type: "get",
                cache: true,
                dataType: "script"
            });

            window.ATL_JQ_PAGE_PROPS =  {
            "triggerFunction": function(showCollectorDialog) {
                //Requires that jQuery is available!
                jQuery("#reportIssue").click(function(e) {
                    e.preventDefault();
                    showCollectorDialog();
                });
            }};
        });

    </script>

    {% block page_scripts %}
    {% endblock %}

{% endblock %}

{% block content %}
    {{ super() }}

    {% block inner_content %}
        <div id="vueApp"></div>
    {% endblock %}

{% endblock %}