{%  import "_macros.html" as macros %}

<div id="injectedDialogContent">

{% if title %}
<span class="hidden-title" style="visibility: hidden;">{{title}}</span>
{% endif %}

{% if details %}
<div class="details">
    {{macros.render_element(details)}}
</div>
{% endif %}

{% if actions %}
    {% for action in actions %}
        {{action.render(extra_classes=['btn', 'btn-info']) | safe}}
    {% endfor %}
{% endif %}

</div>