{% extends "_base.html" %}

{% if error.code and error.name %}
    {% set title=error.code|string() + ": " + error.name %}
{% else %}
    {% set title='A problem occured...' %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{title}}
{% endblock %}

{% block top_container %}

    <div class="alert alert-danger">
    {% if error.description %}
        <p>{{ error.description }}</p>
    {% elif error.message %}
        <p>{{ error.message }}</p>
    {% else %}
        <p>No error details available...</p>
    {% endif %}
    </div>

    {% if current_user.is_authenticated and current_user.is_admin() %}
        <div class="alert alert-info">
            <span>You are seeing this because you're an admin</span>
            <div>Requested url: {{ request.url }}</div>
            <div class="brick padded">Request args: {{ macros.render_dict_v(request.args) }} </div>
            <div class="brick padded"><pre>{{stack}}</pre></div>
        </div>
    {% endif %}

{% endblock %}
