{% extends "_base.html" %}

{% if not title %}
{% set title='Generic Page Title' %}
{% endif %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block page_content %}

    <div id="app">
        <simple-table id="theTable"
                      v-bind:data-source="'{{ data_source }}'"
                      v-bind:data-table="true"
                {% if headers %}
                      v-bind:headers="{{ headers }}"
                {% else %}
                      v-bind:headers="{}"
                {% endif %}
                {% if columns_order %}
                      v-bind:columns-order="{{ columns_order }}"
                {% endif %}
        >
        </simple-table>
    </div>
{% endblock %}
