{%  extends "_base.html" %}

{% set title="Check timelines of %s, %s [%d]" % (model.person.lastName, model.person.firstName, model.cms_id) %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header_text %}
    {{ title }}
{% endblock %}

{% block top_container %}
    <div class="wall">
        <div class="brick">
            <h4>Basic Info</h4>
            {{macros.render_dict_v(model.basic_info,  no_filter=True)}}
        </div>
        <div class="brick">
            <h4>Expected annual dues</h4>
            {{macros.render_dict_v(model.get_expected_dues(), no_filter=True)}}
        </div>

        <div class="brick">
            <h4>Actual annual dues</h4>
            {{macros.render_dict_v(model.get_actual_applicant_dues(), no_filter=True)}}
        </div>

        <div class="brick">
            {% if model.needs_repair() %}
            <h4>Timelines to be fixed</h4>
            {{macros.render_dict_v(model.get_timelines_to_fix_as_printable())}}
            {% else %}
            <h4>No problems found</h4>
            {% endif %}
        </div>

        <div class="brick padded">
            <h4>Commands</h4>
            {% if model.needs_repair() %}
            <a href="{{request.url}}?fix=all"><div class="dt-button">fix ALL erroneous timelines</div></a>
            <a href="{{request.url}}?fix=present"><div class="dt-button">fix PRESENT YEAR's erroneous time-lines</div></a>
            {% else %}
            <span class="btn-success" style="padding: 2px;">Nothing to do, timelines are OK.</span>
            {% endif %}
        </div>
    </div>
    <div class="brick huge padded">
        {{ macros.render_table(model.timelines_table) }}
    </div>

{% endblock %}