<template>
    <v-dialog v-model="masterSwitch" v-on="$listeners" :max-width="maxWidth">
        <v-card>
            <v-card-title>{{
                note.id || "Entry " + note.processNumber
            }}</v-card-title>
            <v-card-text>
                <editor
                    :template="template"
                    :fieldsMeta="fieldsMeta"
                    v-model="formInputs"
                ></editor>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="cancel">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>
import HateoasEditor from "../../components/HateoasEditor.vue";
import { IcmsPiggybackCall } from "../../utils/PiggybackCalls.js";

export default {
    name: "NoteStubActionsDiaog",
    components: {
        editor: HateoasEditor,
    },
    props: {
        note: {
            type: Object,
            default: () => ({}),
        },
        value: {
            type: Boolean,
            default: false,
        },
        "max-width": {
            type: String,
            default: "800px",
        },
        noteState: {
            type: Object,
            default: () => ({}),
        },
    },
    watch: {
        value: function (newVal, oldVal) {
            this.masterSwitch = newVal;
        },
    },
    data: () => ({
        masterSwitch: false,
        files: [],
        fieldsMeta: {
            action: {
                sortVal: -10,
                label: "Action",
                type: "select",
                items: ["ACCEPT", "REJECT"],
                multiple: false,
            },
            remarks: {
                label: "Remarks",
            },
        },
        formInputs: {},
    }),
    computed: {
        template: function () {
            return (this.noteState._templates || {}).default;
        },
        href: function () {
            return ((this.noteState._links || {}).self || {}).href;
        },
    },
    methods: {
        resetField: function (name) {
            this.formInputs[name] = null;
        },
        resetFields: function () {
            Object.keys(this.formInputs).forEach(this.resetField);
        },
        cancel: function () {
            this.resetFields();
            this.$emit("input", false);
        },
        save: function () {
            console.debug(
                "The link will be: " +
                    this.href +
                    " and the method: " +
                    this.template.method
            );
            new IcmsPiggybackCall(this.href)
                .setData(this.formInputs)
                .setSuccessCallback(this.handleResponse)
                .ajaxCall(this.template.method);
        },
        handleResponse: function (received) {
            console.debug(JSON.stringify(received));
            this.$emit("input", false);
            this.$store.info("Changes saved");
            this.resetFields();
            this.$emit('stubState', received);
        },
    },
};
</script>

<style>
</style>