<template>
    <v-dialog v-model="masterSwitch" v-on="$listeners" ref="dialogDetails" :max-width="maxWidth">
        <v-card>
            <v-card-title>{{note.id || 'Entry ' + note.processNumber}}</v-card-title>
    
            <v-list two-line>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Note files</v-list-item-subtitle>
                        <v-list-item-title>
                            <ul>
                                <li v-for="file in files" :key="file.ordinalNumer">
                                    <a :href="file._links.download.href">{{file.file}}</a> 
                                    <span v-if="file.modificationTimestamp">({{new Date(file.modificationTimestamp).toLocaleString()}})</span>
                                </li>
                            </ul>   
                        </v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Title</v-list-item-subtitle>
                        <v-list-item-title><pre>{{note.title}}</pre></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Authors</v-list-item-subtitle>
                        <v-list-item-title>{{note.authors}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="note.abstractText">
                    <v-list-item-content>
                        <v-list-item-subtitle>Abstract</v-list-item-subtitle>
                        <v-list-item-title><pre>{{note.abstractText}}</pre></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Type</v-list-item-subtitle>
                        <v-list-item-title>{{note.type}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Status</v-list-item-subtitle>
                        <v-list-item-title>{{note.status}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Project</v-list-item-subtitle>
                        <v-list-item-title>{{note.project}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Categories</v-list-item-subtitle>
                        <v-list-item-title>{{categories}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Referees</v-list-item-subtitle>
                        <v-list-item-title>{{referees}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="note.type === 'TS'">
                    <v-list-item-content>
                        <v-list-item-subtitle>Presented at CMS Thesis Awards Committee</v-list-item-subtitle>
                        <v-list-item-title>{{note.presentedAtThesisAwardsCommittee ? 'Yes' : 'Not'}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="note.type === 'TS'">
                    <v-list-item-content>
                        <v-list-item-subtitle>Pages</v-list-item-subtitle>
                        <v-list-item-title>{{note.pages}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Submitter</v-list-item-subtitle>
                        <v-list-item-title>{{submitter}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Created</v-list-item-subtitle>
                        <v-list-item-title>{{new Date(note.submissionTimestamp).toLocaleString()}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-subtitle>Edited</v-list-item-subtitle>
                        <v-list-item-title>{{new Date(note.modificationTimestamp).toLocaleString()}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>                
            </v-list>
        </v-card>
    </v-dialog>
</template>

<script>
import AjaxCalls from '../../utils/AjaxCalls.js'
import Hateoas from '../../utils/Hateoas.js'
import { CmsIdResolver } from '../../utils/IdResolvers'

export default {
    name: 'NoteDetailsDialog',
    props: {
        note: {
            type: Object,
            default: ()=>({})
        },
        value: {
            type: Boolean,
            default: false
        },
        'max-width': {
            type: String,
            default: "800px",
        },
        peopleLookup: {
            type: Object,
            default: ()=>({})
        }
    },
    data: () => ({
        masterSwitch: false,
        files: [],
    }),
    watch: {
        value: function(newValue, formerOne){
            this.masterSwitch = newValue;
        },
        masterSwitch: function(newValue, formerOne){
            this.$emit('input', newValue);
        },
        note: function(newVal, oldVal){
            this.files = [];
            if (newVal._links !== undefined && newVal._links.files !== undefined){
                new AjaxCalls.Call(newVal._links.files.href).setSuccessCallback(this.updateFilesInfoFromRemote).get();
            }
        }
    },
    computed:{
        categories: function(){
            return (this.note.categories || []).join(', ');
        },
        referees: function(){
            return ((this.note.referees || []).map(r => r.displayLabel)).join(', ');
        },
        submitter: function(){
            return this.peopleLookup.getLabelForId(this.note.submitterCmsId) || this.note.submitterCmsId;
        }
    },
    methods: {
        updateFilesInfoFromRemote: function(data){
            var processor = new Hateoas.ResponseProcessor(data);
            var files = [];
            processor.setEntityCollectionHandler(function(label, arr){
                files = arr;
            });
            processor.process();
            this.files = files.sort((a, b) => a.modificationTimestamp < b.modificationTimestamp ? -1 : 1);
        },
        addFileFromRemote: function(f){  

            this.$set(this.files, this.files.length, f);
        },
    }
}
</script>

<style>

</style>