<template>
    <div class="scheduler-container">
        <day-picker v-model='selectedDay' :days='daysComputed' />
        <div class='d-flex'>
            <div style='width: 100px'>
            </div>
            <div class='hours'>
                <div v-for='hour in hours' :key='hour' class='hour-container' :style='`width:${durationToWidth(60)}%;`'>
                    <div class='hour'>{{hour}}</div>
                </div>
            </div>
        </div>
        <div class='scheduler-row'>
            <div class='before-tickmark'>
            </div>
            <div class='hours'>
                <div v-for='hour in hours' :key='hour' class='tickmark' :style='`width:${durationToWidth(60)}%;`'>
                </div>
            </div>
        </div>
        <div v-if='selectedDaysBookings.length > 0'>
            <template v-for='room in roomsComputed'>
                <div 
                    v-if='showRoomsWithNoBookings || roomBookings[room.value].length > 0' 
                    :key='room.value' 
                    class='scheduler-row'
                >
                    <div class='room'>
                        {{room.text}}
                        <div v-if='canAddBookings' class='add-button'>
                            <v-btn
                                class="mx-2"
                                fab
                                dark
                                small
                                color="primary"
                                @click='handleNewBooking(room.value)'
                            >
                                <v-icon dark >
                                    mdi-plus
                                </v-icon>
                            </v-btn>
                        </div>
                    </div>
                    <timeline 
                        :bookings="roomBookings[room.value]" 
                        :types='typesComputed'
                        :dayStartTime="dayStartTime" 
                        :dayEndTime="dayEndTime" 
                        :showGridLines='showGridLines'

                        v-on='$listeners'
                    />
                </div>
            </template>
        </div>
        <div v-else class="empty-message">
            <div>
                <div class='mb-2'>No Bookings exist for this date </div>
                <v-btn 
                    v-if='canAddBookings'
                    color="primary" 
                    class='mr-2'
                    @click='handleNewBooking(null)'
                >
                    <v-icon
                        left
                        dark
                    >
                        mdi-plus
                    </v-icon>
                    Create
                </v-btn>    
            </div>
        </div>
    </div>

</template>

<style scoped>
    .scheduler-container {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        margin: 12px;
    }
    .scheduler-row {
        display: flex;
        align-items: top;
        border-bottom: 1px solid #e0e0e0;
    }
    .scheduler-row:last-child {
        border-right: none;
    }

    .room {
        position: relative;
        display: flex;
        justify-content: center;
        padding-top: 12px;
        color: #424242;
        border-right: 1px solid #e0e0e0;
        width: 100px;
        align-self: stretch;

        min-height: 50px;

        font-size: 16px;
    }

    .add-button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    .scheduler-row:hover .add-button{
        opacity: 100%;
    }

    .hours {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    .hour-container{
        position: relative;
        margin-top: 24px;
    }
    .hour {
        font-size: 12px;
        color: #424242;
        position: absolute;
        left: -15px;
        top: -17px;
    }

    .before-tickmark {
        width: 100px;
        height: 12px;
        border-right: 1px solid #e0e0e0;
    }
    .tickmark {
        border-right: 1px solid #e0e0e0;
        height: 12px;
    }

    .empty-message {
        height: 250px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 32px;
        font-weight: 700;
        color: rgba(0,0,0,.38);
    }

</style>

<script>
import moment from 'moment';
import { uniqueBy } from '../../utils/helpers';
import Timeline from './Timeline.vue';
import DayPicker from './DayPicker.vue';

export default {
    name: 'Scheduler',
    components: {
        'timeline': Timeline,
        'day-picker': DayPicker
    },
    props: {
        bookings: {
            type: Array,
            required: true,
            default: () => []
        },
        days: { type: Array },
        rooms: { type: Array },
        types: { type: Array },

        dayStartTime: {
            type: String,
            default: '00:00'    
        },
        dayEndTime: {
            type: String,
            default: '00:00'    
        },
        showGridLines: {
            type: Boolean,
            default: false
        },
        showRoomsWithNoBookings: {
            type: Boolean,
            default: true
        }
    },
    data(){
        return {
            selectedDay: null
        }
    },
    watch:{
        daysComputed(v){
            this.selectFirstDay(v);
        }
    },
    computed: {
        // If no value is given for some props generate the values from the bookings prop 
        daysComputed(){
            if(this.days) return this.days;

            const bookingDays = this.bookings.map(b => moment(b.from).format('YYYY-MM-DD'));
            return uniqueBy(bookingDays, day => day);
        },
        roomsComputed(){
            return this.rooms || uniqueBy(this.bookings, b => b.room).map(b => ({value: b.room, text: b.room}));
        },
        typesComputed(){
            const defaultColors = [
                '#3F51B5',
                '#673AB7',
                '#3096F3',
                '#55BDD5',
                '#F19733',
                '#59AF50',
                '#757575'
            ]
            return this.types || uniqueBy(this.bookings, b => b.type).map((b,i) => ({name: b.type, color: defaultColors[i % defaultColors.length]}));
        },
        hours(){
            const {dayStartTime, dayEndTime} = this.$props;
            const currentTime = moment(dayStartTime, 'HH:mm:ss');
            const endTime = dayStartTime !== dayEndTime 
                ? moment(dayEndTime, 'HH:mm:ss') 
                : currentTime.clone().add(1,'day');

            let hours = [];
            do{
                hours.push(currentTime.format('HH:mm'));
                currentTime.add(1,'hour');
            } while(currentTime.isBefore(endTime));
            return hours;
        },
        totalMinutes(){
            const {dayStartTime, dayEndTime} = this.$props;
            const dayStart = moment(dayStartTime, 'HH:mm:ss');
            const dayEnd = dayStartTime !== dayEndTime ? 
                moment(dayEndTime, 'HH:mm:ss') 
                : dayStart.clone().add(1,'day');
            
            return moment.duration(dayEnd.diff(dayStart)).asMinutes();
        },

        selectedDaysBookings(){
            return this.$props.bookings
                .filter(booking =>  
                    moment(booking.from).format('YYYY-MM-DD') === this.selectedDay
                );
        },

        roomBookings(){
            let roomBookings = this.roomsComputed.reduce((acc, room) => ({ ...acc, [room.value] : []}), {}); 
            this.selectedDaysBookings.forEach(booking => {
                if(roomBookings[booking.room]){
                    roomBookings[booking.room].push({
                        ...booking,
                    });
                }
            })

            return roomBookings;
        },

        canAddBookings(){
            return this.$listeners && this.$listeners.bookingadd
        }
    },
    methods: {
        durationToWidth(duration){
            return duration * (100/this.totalMinutes);
        },

        handleNewBooking(room){
            this.$emit('bookingadd', {room, day: this.selectedDay})
        },

        selectFirstDay(days){
            this.selectedDay = days && days.length > 0 ? days[0] : null
        }
    },
    mounted(){
        if(this.daysComputed) this.selectFirstDay(this.daysComputed);
    }
}
</script>