<template>
    <div class='timeline'>
        <template v-if='slots.length > 0'>
            <div v-for="(row,i) in slots" :key='i' class='timeline-row'> 
                <template v-if='showGridLines'>
                    <div v-for='quarter in quarters' 
                        :key='quarter' 
                        class='tick' 
                        :style='`width:${durationToWidth(15)}%;`' 
                    />
                </template>
                <div v-for='(booking, j) in row' 
                    :key='j' :class='`cell booking ${booking.clickable ? "clickable" : ""}`' 
                    :style='`
                        width:${durationToWidth(booking.duration)}%; 
                        left:${durationToWidth(booking.durationFromStartOfDay)}%; 
                        background: ${getColorForType(booking.type)};
                    `' 
                    @click="handleClick(booking, $event)"
                >
                    <div class='booking-time'>{{booking.startTime}} - {{booking.endTime}}</div>
                    <div class='booking-title'>
                        {{booking.title}}
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class='timeline-row'>
                <template v-if='showGridLines'>
                    <div v-for='quarter in quarters' 
                        :key='quarter' 
                        class='tick' 
                        :style='`width:${durationToWidth(15)}%;`' 
                    />
                </template>
            </div>
        </template>
    </div>
</template>

<style scoped>

    .timeline {
        flex-grow: 1;
    }

    .timeline-row {
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        min-height: 50px;
    }

    .tick {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 50px;
        border-right: 1px solid #e0e0e0;
    }

    .tick:last-child {
        border-right: none;
    }

    .booking {
        position: absolute;
        font-size: 12px;
        top: 0;
        z-index: 1;
        height: 50px;
        padding: 8px;
        color: white;
        text-align: start;
        cursor: default;

        border-right: 1px solid white;
    }

    .clickable {
        cursor: pointer;
    }
    .clickable:hover{
        opacity: 0.8;
    }

    .booking-time {
        font-size: 10px;
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
        margin-bottom: 2px;
    }
    .booking-title {
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
</style>

<script>
import moment from 'moment';
import { sortAlphabeticallyBy } from '../../utils/helpers';

export default {
    name: 'Timeline',
    props: {
        dayStartTime: {type: String },
        dayEndTime: { type: String },
        bookings: { type: Array },
        types: { type: Array },
        showGridLines: { type: Boolean }
    },
    computed: {
        totalMinutes(){
            const {dayStartTime, dayEndTime} = this.$props;
            const dayStart = moment(dayStartTime, 'HH:mm:ss');
            const dayEnd = dayStartTime !== dayEndTime ? 
                moment(dayEndTime, 'HH:mm:ss') 
                : dayStart.clone().add(1,'day');
            
            return moment.duration(dayEnd.diff(dayStart)).asMinutes();
        },
        quarters(){
            return new Array(this.totalMinutes / 15).map((_, index) => index)
        },

        day(){
            return this.$props.bookings.length > 0 ? moment(this.$props.bookings[0].from).format('YYYY-MM-DD') : '1980-01-01'
        },

        sortedBookings(){
            return sortAlphabeticallyBy(this.$props.bookings, b => b.from);
        },

        slots(){
            const startOfDay = moment(`${this.day} ${this.$props.dayStartTime}`);
            const endOfDay = moment(`${this.day} ${this.$props.dayEndTime}`);
            const bookings = this.sortedBookings.map(booking => {
                let start = moment(booking.from);
                if(start.isBefore(startOfDay)) start = startOfDay;

                let end = moment(booking.to);
                if(end.isAfter(endOfDay)) end = endOfDay;

                return {
                    ...booking,
                    day: start.format('YYYY-MM-DD'),
                    startTime: moment(booking.from).format('HH:mm'),
                    endTime: moment(booking.to).format('HH:mm'),
                    duration: moment.duration(end.diff(start)).asMinutes(),
                    durationFromStartOfDay: moment.duration(start.diff(startOfDay)).asMinutes()
                };
            });
            // We split bookings to rows so that they don't overlap 
            let slots = [];
            let unassignedBookings = [...bookings]; 
            while(unassignedBookings.length > 0){
                let row = [];
                for(let i = 0; i < unassignedBookings.length; i++){
                    const booking = unassignedBookings[i];
                    // Check if the booking already overlaps with others in the current row
                    let overlaps = false;
                    for(const assignedBooking of row){
                        if(this.bookingsOverlap(booking, assignedBooking)){
                            overlaps = true;
                        }
                    }
                    // If no overlaps exist insert the booking in the row and remove it from the unassined pile
                    if(!overlaps){
                        row = [...row, booking];
                        unassignedBookings.splice(i, 1); 
                        i--;
                    }
                }
                slots = [...slots, row];
            }
            return slots;
        },
    },
    methods:{
        durationToWidth(duration){
            // 780 mins = 100% of the width -> 1 minute = 0.1282% of the width 
            return duration * (100 / this.totalMinutes);
        },

        bookingsOverlap(a, b) {         
            if (a.from <= b.from && b.from <  a.to) return true; // b starts in a
            if (a.from <  b.to   && b.to   <= a.to) return true; // b ends in a
            if (b.from <  a.from && a.to   <  b.to) return true; // a in b
            return false;
        },

        getColorForType(bookingType){
            const type = this.types.find(t => t.name === bookingType);
            return type ? type.color : '#757575';
        },

        handleClick(booking, event){
            if(booking.clickable){
                this.$emit('bookingselect',{booking, event});
            }
        }
    }
    
}
</script>

