<template>
    <a :href='"/epr/showInstitute/" + instCode'>{{fallbackLabel}}</a>
</template>

<script>
    export default {
        name: 'InstEprLink',
        props: {
            instCode: null,
            label: null,    
        },
        computed: {
            fallbackLabel: function(){
                return this.label || this.instCode;
            }
        }
    }
</script>