<template>
    <base-page>
        <template v-slot:toolbar-title>iCMS Tools Dashboard</template>
        <template v-slot:header>
            <v-row v-for="announcement in announcements" :key="announcement['id']"  >
                <v-col sm="12">
                    <v-card :color="announcement['type']=='WARNING'?'yellow':'green'">
                        <v-card-title primary class="title">Announcement: {{announcement['subject']}}</v-card-title>
                        <v-divider></v-divider>
                        <v-card-text>{{announcement['content']}}</v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </template>

        <template v-slot:body>
            <v-row  >
                <v-col cols="12" md="6">
                    <v-card height="100%" pa-3>
                        <v-card-title primary class="title">User info</v-card-title>
                        <v-divider></v-divider>
                        <v-card-text>
                            <v-list>
                                <v-list-item>
                                    <v-list-item-content>Last name:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ user.last_name }}</v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>First name:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ user.first_name }}</v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>CMS ID:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ user.cms_id }}</v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>Activity:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ user.activity }}</v-list-item-content>
                                </v-list-item>
                                <v-list-item>
                                    <v-list-item-content>CMS Authorship:</v-list-item-content>
                                    <v-list-item-content class="align-end">{{ user.is_author ? "Yes" : "No" }}</v-list-item-content>
                                </v-list-item>
                            </v-list>                       
                        </v-card-text>
                        <v-card-actions>
                            <v-btn @click="showUserProfile(user['cms_id'])">Show full profile</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-col>
                <v-col cols="12" md="6">
                    <v-card height="100%">
                        <v-card-title primary class="title">Quick search</v-card-title>
                        <v-divider></v-divider>
                        <v-card-title secondary class="title">Person</v-card-title>
                        <v-card-text>
                            <person-picker v-model='searchPerson' @change="showUserProfile"></person-picker>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-title secondary class="title">Institute</v-card-title>
                        <v-card-text>
                            <inst-picker v-model='searchInst' @change="showInstituteProfile"></inst-picker>
                        </v-card-text>
                        <template v-if='isAdmin'>
                            <v-divider></v-divider>
                            <v-card-title secondary class="title">Impersonate User</v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row align='center'>
                                        <person-picker v-model='impersonateId' :clearable="true"/>
                                        <v-btn v-if='!!impersonateId' @click="impersonateUser" class='ml-4'>Impersonate</v-btn>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                        </template>
                    </v-card>
                </v-col>
            </v-row>
            <!-- ADMIN BOXES -->
            <v-row   v-if="isAdmin">
                <v-col cols="12" md="4">
                    <v-card v-if="syncAgentsTimestamps" height="100%">
                        <v-card-title primary class="title">Sync agents run times</v-card-title>
                        <v-divider></v-divider>
                        <v-list two-line subheader>
                        <!-- <v-subheader>Looks cool but serves nothing</v-subheader> -->
                        <v-list-item v-for="(time, agent) in syncAgentsTimestamps" :key="agent">
                                <!-- <v-subheader>Seems to work on a item level too</v-subheader> -->
                                <v-list-item-content>
                                    <v-list-item-title>{{agent}}</v-list-item-title>
                                    <v-list-item-subtitle>{{ new Date(1000 * time).toISOString().replace('Z', '').replace('T', ' ') }}</v-list-item-subtitle>
                                </v-list-item-content>
                        </v-list-item>
                        </v-list>
                    </v-card>
                </v-col>
                <v-col cols="12" md="8">
                    <v-card v-if="deploymentInfo" height="100%">
                        <v-card-title primary class="title">Deployment info</v-card-title>
                        <v-divider></v-divider>
                        <v-list three-line subheader>
                            <v-list-item v-for="(value, key) in deploymentInfo" :key="key">
                                <v-list-item-content>
                                    <v-list-item-title>{{key}}</v-list-item-title>
                                    <v-list-item-subtitle>{{value}}</v-list-item-subtitle>
                                    <!-- <pre>{{value}}</pre> -->
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                    </v-card>
                </v-col>
            </v-row>
        </template>
    </base-page>
</template>

<script>

import Ajax from '../utils/Ajax.js'
import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
import VuetifyInstitutePicker from '../components/VuetifyInstitutePicker.vue'
import VuetifyPage from '../components/VuetifyPage.vue'
import AjaxCalls from '../utils/AjaxCalls.js'

  
export default {   
    name: 'Dashboard',
    components: {
        'person-picker': VuetifyPersonPicker,
        'inst-picker': VuetifyInstitutePicker,
        'base-page': VuetifyPage,
    },
    data: function(){
        return {
            user: {'last_name': null, 'first_name': null, 'cms_id': null, 'activity': null, 'is_author': null},
            searchPerson: null,
            searchInst: null,
            allAnnouncements: [],
            syncAgentsTimestamps: {},
            deploymentInfo: {},
            impersonateId: null
        };
    },
    computed: {
        announcements: function(){
            var ans = [];
            for (var idx in this.allAnnouncements){
                var a = this.allAnnouncements[idx];
                if(['tools', 'common', '', null].includes(a['application'])){
                    ans.push(a);
                }
            }
            return ans;
        }, isAdmin: function(){
            return this.$store.getters.isAdmin;
        }
    },
    watch: {
        user: function(){
            if (this.isAdmin){
                var compo = this;
                Ajax.getAppAssetData('fwd_sync_last_run_info', function(data){
                    compo.syncAgentsTimestamps = data[0].data.timestamps;
                });
                Ajax.getDeploymentInfo(function(data){
                    compo.deploymentInfo = data;
                });
            }
        }
    },
    mounted: function(){
        Ajax.getUserInfo(null, this.setUserData);
        var compo = this;
        Ajax.getActiveAnnouncements(function(data){compo.allAnnouncements = data;});
    },
    methods: {
        setUserData: function(data){
            this.user = data;
        },
        showUserProfile: function(cmsId){
            console.debug('About to show user profile for ' + this.searchPerson);
            this.$router.push({name: 'user-profile', params: {cmsId: cmsId}});
        },
        showInstituteProfile: function(instCode){
            console.debug('About to show institute profile for ' + this.searchInst);
            this.$router.push({name: 'inst-profile', params: {urlInstCode: instCode}});
        },

        impersonateUser(){
            new AjaxCalls.ImpersonateUserCall()
                .setId(this.impersonateId)
                .setSuccessCallback(res => {
                    if(res == 'SUCCESS'){
                        this.$store.commit('infoMessage', `Impersonating user with id ${this.impersonateId}`);
                        this.$router.go()
                    }
                })
                .put()
        }
    }
}
</script>

<style>

</style>
