<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Institute Profile of {{instCode}}</template>
            <template v-slot:header>
                <inst-picker ref="instPicker" label="Choose another institute" v-model="chosenInstCode" required></inst-picker>
            </template>
            <template v-slot:toolbar-right>
                <inst-epr-link :instCode="instCode" label="EPR"/>
            </template>
            <template v-slot:body>
                <v-row  >
                    <v-col class="text-left" cols="3">
                        <v-card height="100%">
                            <v-card-title class="subheading">Institute Info</v-card-title>
                            <v-divider></v-divider>
                            <v-container fluid>
                            <v-row  >
                                <v-col cols="3" class="grey--text">Full Name</v-col>
                                <v-col cols="9">{{instInfo.name}}</v-col>
                                <v-col cols="3" class="grey--text">Membership Status</v-col>
                                <v-col cols="9">{{instInfo.status}}</v-col>
                                <v-col cols="3" class="grey--text">Country</v-col>
                                <v-col cols="9">{{instInfo.country_code}}</v-col>
                                <v-col cols="3" v-if="addressData.state" class="grey--text">State</v-col>
                                <v-col cols="9" v-if="addressData.state">{{addressData.state}}</v-col>
                                <v-col cols="3" class="grey--text">Town</v-col>
                                <v-col cols="9">{{addressData.town}}</v-col>
                                <v-col cols="3" class="grey--text">Address</v-col>
                                <v-col cols="9"><pre>{{addressData.fullAddress}}</pre></v-col>
                            </v-row>
                                <v-divider></v-divider>
                            <v-row  v-for="manager in management" :key="'manager' + manager.cms_id">
                                <v-col cols="3" class="grey--text">{{toTitleCase(manager.role)}}</v-col>
                                    <v-col cols="9">
                                        <user-profile-link :cmsId="manager.cms_id" :label="manager.first_name + ' ' + manager.last_name"></user-profile-link>
                                    </v-col>
                            </v-row>

                            </v-container>   
                        </v-card>
                    </v-col>
                    <v-col cols="9">
                        <v-card height="100%">
                            <v-card-title class="subheading">Contributions</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <v-tabs v-model="activeContributionsTab" light grow>
                                    <v-tabs-slider color="black"></v-tabs-slider>
                                    <v-tab>EPR</v-tab>
                                    <v-tab>{{arcsTabTitle}}</v-tab>
                                    <v-tabs-items v-model="activeContributionsTab">
                                        
                                    <v-tab-item>
                                        <v-data-table :headers="eprHeaders" :items="eprItems" :options="pagination.eprStats">
                                            <template v-slot:[`item.authors`]="{ item }">
                                                    <td> {{(item.authors || 0).toFixed(2)}} </td>
                                            </template>
                                            <template v-slot:[`item.epr_dues`]="{ item }">
                                                    <td> {{(item.epr_dues || 0).toFixed(2)}} </td>
                                            </template>
                                            <template v-slot:[`item.aggregate_value`]="{ item }">
                                                    <td> {{(item.aggregate_value || 0).toFixed(2)}} </td>
                                            </template>
                                            <template v-slot:[`item.epr_ratio`]="{ item }">
                                                    <td> {{(item.epr_ratio || 0).toFixed(2)}} </td>
                                            </template>
                                            
                                        </v-data-table>
                                    </v-tab-item>
                                    <v-tab-item>
                                        <data-table ref="arcContribs" :headers="arcContribHeaders" :items="arcContributors" :options="pagination.arcContribs" @filtered="updateArcsCounter" ></data-table>
                                    </v-tab-item>
                                    </v-tabs-items>
                                </v-tabs>
                            </v-card-text>
                        </v-card>        
                    </v-col>
                    <v-col>
                        <v-card height="100%">
                            <v-card-title class="subheading">Members</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <data-table :no-autoformat="true" :headers="peopleHeaders" :items="peopleToShow" :options="pagination.people" 
                                    :isColumnEditable="function(header, rowData){
                                        return header.value === 'project' && (rowData['_links'] || {})['assignProject'] !== undefined
                                    }" @customEditorRequest="launchCustomCellEditor"
                                />
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col class="text-left" cols="12">
                        <v-card>
                            <v-card-title class="subheading">EPR Time Lines</v-card-title>
                            <v-card-text>
                                <v-data-table :headers="timeLineHeaders" :items="eprTimeLines" :options="pagination.eprTimeLines">
                                    <template v-slot:item="props">
                                        <tr>
                                            <td> {{new Date(props.item.timestamp).toISOString().substring(0, 10)}} </td> 
                                            <td> {{props.item.year}} </td>
                                            <td> {{props.item.status}} </td>
                                        </tr>
                                    </template>
                                </v-data-table>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </template>
        </base-page>
        <assignment-editor ref="assignmentEditor" :value="assignmentEditorCmsId" @updated="assignmentEditedListener">
            <template v-slot:activator="{on}"><p></p></template>
        </assignment-editor>
    </div>
</template>

<script>

import Ajax from '../utils/Ajax.js'
import AjaxCalls from '../utils/AjaxCalls.js'
import {ArcCountsCall, InstAddressesCall} from '../utils/PiggybackCalls.js'
import VuetifyInstitutePicker from '../components/VuetifyInstitutePicker.vue'
import UserProfileLink from '../components/links/UserProfileLink.vue'
import VuetifyPage from '../components/VuetifyPage.vue'
import InstEprLink from '../components/links/InstEprLink.vue'
import VuetifyTable from '../components/VuetifyTable.vue'
import AssignmentEditor from '../components/AssignmentEditor.vue'

export default {
    name: 'InstProfile',
    components: {
        'inst-picker': VuetifyInstitutePicker,
        'user-profile-link': UserProfileLink,
        'base-page': VuetifyPage,
        'inst-epr-link': InstEprLink,
        'data-table': VuetifyTable,
        'assignment-editor': AssignmentEditor,
    },
    props: {
        urlInstCode: null,

        eprHeaders: {type: Array, default: function(){
            return [
                {text: 'Year', value: 'year', sortable: true},
                {text: 'Member Authors', value: 'authors', sortable: true},
                {text: 'EPR Dues', value: 'epr_dues', sortable: true},
                {text: 'EPR Contribution', value: 'aggregate_value', sortable: true},
                {text: 'EPR Due Coverage', value: 'epr_ratio', sortable: true}
            ];
        }},

        timeLineHeaders: {type: Array, default: function(){
            return [
                {text: 'Date', value: 'timestamp', sortable: true},
                {text: 'Year', value: 'year', sortable: true},
                {text: 'CMS Membership', value: 'status', sortable: true}
            ];
        }},

        peopleHeaders: {
            type: Array, default: function(){
                return [
                    {text: 'CMS ID', value: 'cms_id', sortable: true},
                    {text: 'First name', value: 'first_name', sortable: true},
                    {text: 'Last name', value: 'last_name', sortable: true},
                    {text: 'Status', value: 'status'},
                    {text: 'Activity', value: 'activity'},
                    {text: 'Author?', value: 'is_author'},
                    {text: 'Project', value: 'project'}
                ];
            }
        },

        arcContribHeaders: {
            type: Array, default: function(){return [
                {text: 'Year', value: 'year'},
                {text: 'CMS ID', value: 'cmsId'},
                {text: 'Name', value: 'memberName'},
                {text: 'ARCs', value: 'arcsCount'}
            ];}
        },
    },
    data: function(){
        return {
            activeContributionsTab: null,
            chosenInstCode: null,
            eprStats: [],
            eprAggs: [],
            eprTimeLines: [],
            instInfo: {},
            people: [],
            peoplePagination: {},
            arcCounts: [],
            totalArcs: 0,
            addressData: {},

            pagination: {
                eprStats: {
                    sortBy: ['year'], sortDesc: [true],
                },
                eprTimeLines: {
                    sortBy: ['timestamp'], sortDesc: [true],
                },
                arcContribs: {
                    sortBy: ['year'], sortDesc: [true],
                },
                people: {
                    sortBy: ['cmsid'], sortDesc: [false]
                }
            },
            assignmentEditorCmsId: null,
        }
    },
    computed: {
        
        instCode: function(){
            return this.chosenInstCode || this.urlInstCode || this.$store.getters.userInstCode;
        },

        storeReady: function(){
            return this.$store.getters.ready;
        },

        eprItems: function(){
            var items = [];
            for (var agg of this.eprAggs){
                var item = agg;
                var stat = this.eprStats.find(e => e.year == item.year);
                if (stat != null){
                    Object.assign(item, stat)
                }
                item['epr_dues'] = item['due_applicants'] + item['due_authors'];
                item['epr_ratio'] = item['aggregate_value'] / item['epr_dues'];
                items.push(item);
            }
            return items;
        },
        management: function(){
            return (this.instInfo && this.instInfo.management && this.instInfo.management || []).sort((a, b) => {
                if (a.role == b.role){
                    return new Date(a.start_date) - new Date(b.start_date);
                } else {
                    var lkp = {deputy: 10, leader: 1};
                    return (lkp[a.role.toLowerCase()] || 99) - (lkp[b.role.toLowerCase()] || 99);
                }
            });
        },

        peopleToShow: function(){
            return this.people.map(e => {
                e['project'] = Object.keys(e.projects || []).reduce((acc, cur) => {return acc + (acc.length > 0 ? ', ' : '') + cur}, '');
                return e;
            });
        },

        peopleMap: function(){
            var data = {};
            this.people.forEach(e => {
                data[e.cms_id] = e ;
            });
            return data;
        },

        arcContributors: function(){
            // it used to be necessary to fill the names but now they are coming directly from the arcCounts API callback
            return this.arcCounts.map(e => ({year: e.id.year, cmsId: e.id.cmsId, arcsCount: e.arcsCount, memberName: e.memberName}));
        },

        arcsTabTitle: function(){
            return 'ARC members [' + this.totalArcs + ']';
        },

    },
    watch: {     

        storeReady: function(isReady, wasReady){
            if (isReady == true && isReady != wasReady){
                console.debug('Store reported ready for the first time, launching init()');
                this.init();
            }
        },

        instCode: function(newCode, oldCode){
            if (newCode != oldCode){
                this.$router.push({name: 'inst-profile', params: {urlInstCode: this.instCode}});
            }
        },

        chosenInstCode: function(newCode, oldCode){
            this.init();
        },

        assignmentEditorCmsId: function(newVal, oldVal){
            console.debug("Assignment's editor CMS ID has changed to " + newVal + " from " + oldVal);
        },

    },
    
    methods: {
        init: function(){
            console.debug('Initializing for inst code ' + this.instCode);
            Ajax.getInstInfo(this.instCode, this.setInstInfo);
            Ajax.getEprAggregates(this.setEprAggregates, null, this.instCode, null, null, ['pledges done', 'shifts done'], ['year', 'inst_code']);
            Ajax.getEprInstStats(this.instCode, null, this.setEprStats);
            Ajax.getEprInstTimeLines(this.instCode, null, this.setEprTimeLines);
            console.debug('InstProfile Component » Preparing AjaxCall objects');
            new ArcCountsCall().setSuccessCallback(this.setArcCounts).setInstCode(this.instCode).get();
            new AjaxCalls.UsersInfoCall().setSuccessCallback(this.setPeopleData).setInstCode(this.instCode).setStatus('CMS').get();
            new InstAddressesCall(this.instCode).setSuccessCallback(this.setInstAddress).get();
            this.totalArcs = 0;
        },

        setInstAddress: function(data){
            console.debug("Received institute's address data: " + JSON.stringify(data));
            this.addressData = data;
        },

        setArcCounts: function(data){
            this.arcCounts = data;
        },

        setPeopleData: function(data){
            this.people = data;
        },

        setInstInfo(data){
            if(data['status'] == 'Yes'){
                data['status'] = 'Full Member'
            }
            
            // Filter out null values in management field
            this.instInfo = {
                ...data,
                management: data.management.filter(m => !!m)
            };
        },

        setEprAggregates(data){
            this.eprAggs = data;
        },

        setEprStats(data){
            this.eprStats = data;
        },

        setEprTimeLines(data){
            this.eprTimeLines = data;
        },

        toTitleCase(text){
            return text.charAt(0).toUpperCase() + text.substring(1);
        },

        updateArcsCounter: function(contribs){
            // triggered by an event from the datatable
            this.totalArcs = contribs.reduce(function(total, currentValue, currentIndex, arr){return total + currentValue.arcsCount;}, 0);
        },

        launchCustomCellEditor: function(data){
            var headerVal = data.header.value;
            var cmsId = data.row.cms_id;
            console.debug("Launching assignment editor for header: " + headerVal + " and CMS ID: " + cmsId);
            if (headerVal == 'project'){ 
                this.assignmentEditorCmsId = cmsId;
                console.debug('Now pulling up the popup for project editor for CMS ID ' + this.assignmentEditorCmsId);
                this.$refs.assignmentEditor.show();
            }
        },
        assignmentEditedListener: function(data){
            var compo = this;
            var cmsId = data.cmsId;
            this.assignmentEditorCmsId = null;
            console.debug("InstProfile » We need to re-fetch data for CMS ID " + data.cmsId);
            if ([undefined, null].indexOf(cmsId) == -1){
                new AjaxCalls.UsersInfoCall().setCmsId(data.cmsId).setSuccessCallback(function(data){
                    data.forEach(e => {
                        if (e.cms_id == cmsId){
                            compo.$set(compo.peopleMap[cmsId], 'projects', e.projects);
                        }
                    });
                }).get()
            }
        }
    },
    mounted: function(){
        if (this.storeReady == true){
            console.debug('InstProfile Component » store ready upon component mount, launching init().');
            this.init();
        } else {
            console.debug('InstProfile Component » store not ready upon mount, waiting for watch to trigger.');
        }
    }

}
</script>

<style>

</style>
