<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Email Messages</template>
            <template v-slot:header>
                <v-container class="text-center" fluid style="padding:0">
                    <v-row  justify="end">
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange"></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="transformedEmails" 
                    :loading="loading"
                    :search="search" 
                    @click:row="summonDialogBox"
                >
                </data-table>
            </template>
        </base-page>
        <email-info-dialog v-model='isDialogOpen' :id='selectedId' />
    </div>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';
import VuetifyPage from '../components/VuetifyPage.vue'
import VuetifyTable from '../components/VuetifyTable.vue'
import EmailInfoDialog from '../components/EmailInfoDialog.vue'

export default {
    name: 'AdminEmails',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'email-info-dialog': EmailInfoDialog
    },
    data(){
        return {
            emails: [],
            loading: false,
            search: '',

            selectedId: null,
            isDialogOpen: false
        };
    },
    computed: {
        headers: () => [
            {text: 'ID', value: 'id', sortable: true},
            {text: 'Subject', value: 'subject', sortable: true},
            {text: 'To', value: 'to', sortable: true},
            {text: 'Bcc', value: 'bcc', sortable: true},
            {text: 'Last Modified', value: 'last_modified', sortable: true},
            {text: 'Sender', value: 'sender', sortable: true},
            {text: 'Reply to', value: 'reply_to', sortable: true},
            {text: 'Status', value: 'status', sortable: true},
            {text: 'Action', value: 'action', sortable: true},
            {text: 'Timestamp', value: 'timestamp', sortable: true},
            {text: 'Source Application', value: 'source_application', sortable: true},
        ],
        transformedEmails(){
            return this.emails.map(email => Object.assign(email, {
                // truncate "to" field
                to_truncated : email.to.length < 30 ? email.to : (email.to.slice(0, 30) + '...')
            })); 
        }
    },
    methods: {
        loadEmailList(){
            this.loading = true;
            new AjaxCalls.EmailsCall()
            .setSuccessCallback((data) => {
                this.loading = false;
                this.emails = data;
            })
            .get();            
        },

        summonDialogBox(item){
            this.selectedId = item.id;
            this.isDialogOpen = true;
        },
    },
    mounted(){
        this.loadEmailList();
    },
}
</script>

<style>

</style>
