<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Member Authors</template>
            <template v-slot:toolbar-right>
                <v-icon medium style="cursor: pointer;" @click.stop="isInfoDialogOpen = true">info</v-icon>
            </template>
            <template v-slot:header>
                <v-container class="text-center" fluid style="padding:0">
                    <v-row align="center">
                        <v-col cols="2" v-if="instituteSelectIsVisible">
                            <v-autocomplete 
                                v-model="institute"
                                :items="instituteOptions"
                                :clearable='true'
                                label="Institute"
                                placeholder="All institutes"
                                class="mr-2"
                            />
                        </v-col>
                        <v-spacer />
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange" />
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="tableData" 
                    :loading="loading"
                    :search="search" 
                >
                    <template v-slot:[`item.action`]="{ item }">
                        <v-btn @click="summonConfirmationDialog(item.cmsId);" block :color="item.flagId === flag_misc_authorno ? 'success' : 'error'">
                            {{item.flagId === flag_misc_authorno ? "Unfreeze" : "Freeze"}}
                        </v-btn>
                    </template>
                </data-table>
            </template>
        </base-page>
        <confirmation-dialog v-model="isConfirmationDialogOpen" :person="selectedPerson" @suspensionupdate="onStatusUpdate"/>
        <v-dialog v-model="isInfoDialogOpen" maxWidth="600px">
            <v-card>
                <v-card-title class="headline">Details</v-card-title>
                <v-card-text>
                    <div>
                        In brief, this page allows Institute Leaders to control the <code>MISC_authorno</code> flag for members of their institute.
                        <br><br>
                        <code>MISC_authorno</code> flag provides means of "freezing" / reinstating signing rights of CMS members who otherwise fulfill all the requirements to be authors:
                            <ul>
                                <li>setting the flag takes a member off the author list (the "freeze" option)</li>
                                <li>removing the flag reinstates signing rights unless other unmet requirements exist (the "unfreeze" option)</li>
                            </ul>
                        Please note that CMS signing rights are determined daily. Any changes made to the flags may therefore take up to 24h to become effective.
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn
                        color="green darken-1"
                        text
                        @click="isInfoDialogOpen = false"
                    >
                        Got It
                    </v-btn>
                </v-card-actions>
            </v-card>
    </v-dialog>
    </div>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls'
import { FLAG_MISC_AUTHORNO } from '../utils/constants';
import VuetifyPage from '../components/VuetifyPage.vue';
import VuetifyTable from '../components/VuetifyTable.vue';
import MemberAuthorConfirmationDialog from '../components/MemberAuthorConfirmationDialog.vue'
import instituteSelectMixin from '../mixins/instituteSelectMixin'

export default {
    name: 'MemberAuthors',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'confirmation-dialog': MemberAuthorConfirmationDialog
    },
    mixins: [instituteSelectMixin],
    data(){
        return {
            data: [],
            loading: false,

            search: '',

            isConfirmationDialogOpen: false,
            selectedPerson: null,

            isInfoDialogOpen: false
        };
    },
    computed: {
        current_year: () => new Date().getFullYear(),
        flag_misc_authorno: () => FLAG_MISC_AUTHORNO,

        headers(){
            return [
                {text: 'CMD ID', value: 'cmsId', sortable: true},
                {text: 'Last Name', value: 'lastName', sortable: true},
                {text: 'First Name', value: 'firstName', sortable: true},
                {text: 'Institue', value: 'instCode', sortable: true},
                {text: `MO ${this.current_year}`, value: 'moCurrentYear', sortable: true},
                {text: `Free MO ${this.current_year}`, value: 'freeMoCurrentYear', sortable: true},
                {text: 'Activity', value: 'name', sortable: true},
                {text: 'CMS Status', value: 'status', sortable: true},
                {text: 'Author', value: 'isAuthor', sortable: true},
                {text: 'Flag', value: 'flagId', sortable: true},
                {text: 'Actions', value: 'action', sortable: false},
            ]
        },
        tableData(){
            let tableData = this.data;
            
            if(this.institute){
                tableData = tableData.filter(row => row.instCode == this.institute)
            }
            
            return tableData.map(row => Object.assign({}, row, {
                    moCurrentYear: row.moCurrentYear === "NO" ? "NO" : 'YES',
                    freeMoCurrentYear: row.freeMoCurrentYear === "NO" ? 'NO' : 'YES',
                    isAuthor: row.isAuthor ? 'YES' : 'NO',
                    flagId: row.flagId || '---'
                })
            )
        }
    },
    watch:{
        data(value){
            this.createInstituteOptions(value)
        }
    },
    methods: {
        loadData(){
            this.loading = true;
            new AjaxCalls.MemberAuthorsCall()
                .setSuccessCallback(data => {
                    this.data = data;
                    this.loading = false;
                })
                .get();
        },
        summonConfirmationDialog(cmsId){
            const person = this.data.find(p => p.cmsId === cmsId);
            this.selectedPerson = person;
            this.isConfirmationDialogOpen = true;
        },
        onStatusUpdate(newFlagId){
            this.selectedPerson.flagId = newFlagId;
        }
    },
    mounted(){
        this.loadData();
    }
}
</script>