<template>
    <div class="page-header">
        <h3>
            Page not found for path <em>{{path}}</em>
        </h3>
        <p>
            Is the URL above correct?
        </p>
    </div>
</template>

<script>
export default {
    name: 'NotFoundComponent',
    computed: {
        path: function(){
            return this.$route.path;
        }
    }
}
</script>

<style>

</style>
