<template>
    <base-page>
        <template v-slot:toolbar-title>Pending Notes</template>
        <template v-slot:header>
            <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
        </template>
        <template v-slot:body>
        <v-data-table 
            :search="search" 
            :headers="headers" 
            :items="processes" 
            :footer-props="{'items-per-page-options': [-1]}" 
            item-key="id"
            @item-expanded="getSteps"
            show-expand
        >
            <template v-slot:expanded-item="">
                <td> </td>
                <td :colspan="headers.length" clss="py-2">
                    <v-data-table 
                        :headers="stepHeaders" 
                        :items="selectedSteps" 
                        hide-default-footer
                    />
                </td>
                <td> </td>
            </template>
        </v-data-table>
        </template>
        <template v-slot:actions></template>
    </base-page>
</template>

<script>
    import Ajax from '../utils/Ajax.js';
    import VuetifyPage from '../components/VuetifyPage.vue'
    
    export default {
        name: 'PendingNotes',
        components: {
            'base-page': VuetifyPage
        },
        data: function(){
            return {
                search: '',
                processes: [],
                expand: null,
                focusProcessId: null,
                steps: {},
            };
        },
        computed: {
            headers: function(){
                return [
                    {text: 'Process', value: 'id'},
                    {text: 'CMS Note ID', value: 'cmsNoteId'},
                    {text: 'Type', value: 'type'},
                    {text: 'Subproject', value: 'subproject'},
                    {text: 'Submitted by', value: 'submitterName'},
                    {text: 'Title', value: 'title'},
                    {text: 'State', value: 'state'},
                    {text: 'Date', value: 'dateString'},
                ];
            },
            stepHeaders: function(){
                return [
                    {text: 'Date', value: 'dateString'},
                    {text: 'Acquired by', value: 'acquiredBy'},
                    {text: 'State', value: 'recordState'},
                    {text: 'Last input', value: 'operationReceived'},
                    {text: 'Next input', value: 'operationAwaited'},
                    {text: 'Subeditor', value: 'subeditorName'},
                    {text: 'Editor', value: 'editorName'},
                    {text: 'Referee', value: 'referee'},
                ];
            },
            selectedSteps: function(){
                return (this.focusProcessId == null ? [] : this.steps[this.focusProcessId]);
            }
        },
        methods:{
            setProcessesData: function(data){
                this.processes = data;
            },
            setProcessSteps: function(data){
                var procId = data[0].process;
                this.$set(this.steps, procId, data);
            },
            getSteps: function({item}){
                console.debug('Time to get steps for process ID ' + item.id);
                this.focusProcessId = item.id;
                Ajax.getNoteProcessSteps(this.focusProcessId, this.setProcessSteps);
            }
        },
        mounted: function(){
            Ajax.getNoteProcesses(['Submitted', 'SubEditor_Accepted' , 'Editor_Accepted', 'SubEditor_Completed', 'CoRefEditor_Accepted', 'RefEditor_Accepted'], this.setProcessesData);
        }
    }
</script>
