<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Rooms</template>
            <template v-slot:header>
                <v-container class="text-center" fluid style="padding:0">
                    <v-row align="center">
                        <v-btn
                            depressed
                            color="success"
                            @click='handleCreate'
                            class='ml-2'
                        >
                            Create Room
                        </v-btn>
                        <v-spacer />
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" />
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="tableData" 
                    :loading="loading"
                    :search="search" 
                >
                    <template v-if='canEdit' v-slot:[`item.actions`]='{ item }'>
                        <v-btn
                            color="primary"
                            fab
                            text
                            small
                            dark
                            @click='handleEdit(item.id)'
                        >
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                    </template>
                </data-table>
            </template>
        </base-page>
        <room-form-dialog 
            v-model='showFormDialog' 
            :item='selected' 
            @itemcreated='handleNewRoom' 
            @itemupdated='handleUpdatedRoom'
        />
    </div>
</template>

<script>
import AjaxCalls from '../utils/AjaxCalls';
import VuetifyPage from '../components/VuetifyPage.vue';
import VuetifyTable from '../components/VuetifyTable.vue';
import RoomFormDialog from '../components/RoomFormDialog.vue';

export default {
    name: 'Rooms',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'room-form-dialog': RoomFormDialog
    },
    data(){
        return {
            data: [],
            loading: false,

            search: '',

            selected: null,
            showFormDialog: false
        };
    },
    computed: {
        headers(){
            let headers = [
                {text: 'Indico ID', value: 'indico_id', sortable: true},
                {text: 'Building', value: 'building', sortable: true},
                {text: 'Floor', value: 'floor', sortable: true},
                {text: 'Room NR', value: 'room_nr', sortable: true},
                {text: 'Custom Name', value: 'custom_name', sortable: true},
                {text: 'At CERN', value: 'at_cern', sortable: true},
            ]
            if(this.canEdit){
                headers.push({text: 'Actions', value: 'actions', sortable: true});
            }
            return headers;
        },
        tableData(){
            return this.data.map(room => ({
                ...room,
                indico_id: room.indico_id || 'None',
                custom_name: room.custom_name || 'None',
                at_cern: room.at_cern ? 'True' : 'False'
            }));
        },
        canCreate(){
            var flags = this.$store.state.userInfo.flags;
            return flags != null && flags != 'undefined' && flags.includes('ICMS_admin');
        },
        canEdit(){
            if(!this.data || this.data.length === 0) return false;
            return Object.prototype.hasOwnProperty.call(this.data[0]['_links'], 'update');
        }
    },
    methods: {
        loadData(){
            this.loading = true;
            new AjaxCalls.BookingRoomsCall()
                .setSuccessCallback(data => {
                    this.data = data;
                    this.loading = false;
                })
                .get();
        },
        handleEdit(itemId){
            this.selected = this.data.find(({id}) => id === itemId);
            this.showFormDialog = true;
        },
        handleCreate(){
            this.selected = null;
            this.showFormDialog = true;
        },

        handleNewRoom(newRoom){
            this.data.push(newRoom);
        },
        handleUpdatedRoom(updatedRoom){
            this.data = this.data.map(week => week.id === updatedRoom.id ? updatedRoom : week);
        }
        
    },
    mounted(){
        this.loadData();
    }
}
</script>
