<template>
    <div>
        <base-page>
            <template v-slot:toolbar-title>Suspensions</template>
            <template v-slot:header>
                <v-container class="text-center" fluid style="padding:0">
                    <v-row align="center">
                        <v-col cols="2" v-if="instituteSelectIsVisible">
                            <v-autocomplete 
                                v-model="institute"
                                :items="instituteOptions"
                                :clearable='true'
                                label="Institute"
                                placeholder="All institutes"
                                class="mr-2"
                            />
                        </v-col>
                        <v-spacer />
                        <v-col cols="3">
                            <v-text-field v-model="search" append-icon="search" label="Search" @change="onChange" @input="onChange" />
                        </v-col>
                    </v-row>
                </v-container>
            </template>
            <template v-slot:body>
                <data-table 
                    :headers="headers" 
                    :items="tableData" 
                    :loading="loading"
                    :search="search" 
                >
                    <template v-slot:[`item.actions`]='{item}'>
                        <div v-if="item.isAuthor == 'NO'" @click.stop="summonConfirmationDialog(item.cmsId);" class="w-100">
                            <v-btn block :color="item.isAuthorSuspended == 'YES' ? 'success' : 'error'">
                                {{item.isAuthorSuspended == 'YES' ? "Unsuspend" : "Suspend"}}
                            </v-btn> 
                        </div>
                        <div v-else class="px-1 text--secondary">
                            Active author - cannot suspend.
                        </div>
                    </template>
                </data-table>
            </template>
        </base-page>
        <confirmation-dialog v-model="isDialogOpen" :person="selectedPerson" @suspensionupdate="onStatusUpdate"/>
    </div>
</template>


<script>
import AjaxCalls from '../utils/AjaxCalls'
import VuetifyPage from '../components/VuetifyPage.vue';
import VuetifyTable from '../components/VuetifyTable.vue';
import SuspensionConfirmationDialog from '../components/SuspensionConfirmationDialog.vue'
import instituteSelectMixin from '../mixins/instituteSelectMixin'

export default {
    name: 'Suspensions',
    components: {
        'base-page': VuetifyPage,
        'data-table': VuetifyTable,
        'confirmation-dialog': SuspensionConfirmationDialog
    },
    mixins: [instituteSelectMixin],
    data(){
        return {
            data: [],
            loading: false,

            institute: null,
            search: '',

            isDialogOpen: false,
            selectedPerson: null,
        };
    },
    computed: {
        headers: () => [
            {text: 'CMD ID', value: 'cmsId', sortable: true},
            {text: 'Last Name', value: 'lastName', sortable: true},
            {text: 'First Name', value: 'firstName', sortable: true},
            {text: 'Institute', value: 'instCode', sortable: true},
            {text: 'Activity', value: 'name', sortable: true},
            {text: 'Author', value: 'isAuthor', sortable: true},
            {text: 'EPR Suspended', value: 'isAuthorSuspended', sortable: true},
            {text: 'Action', value: 'actions', sortable: false},
        ],
        tableData(){
            let tableData = this.data;

            if(this.institute){
                tableData = tableData.filter(row => row.instCode == this.institute)
            }

            return tableData.map(row => Object.assign({}, row, {
                isAuthor: row.isAuthor ? 'YES' : 'NO',
                isAuthorSuspended: row.isAuthorSuspended ? 'YES' : 'NO',
            }));
        }
    },
    watch:{
        data(value){
            this.createInstituteOptions(value);
        }
    },
    methods: {
        loadData(){
            this.loading = true;
            new AjaxCalls.SuspensionsCall()
                .setSuccessCallback(data => {
                    this.data = data;
                    this.loading = false;
                })
                .get();
        },
        summonConfirmationDialog(cmsId){
            const person = this.data.find(p => p.cmsId === cmsId);
            this.selectedPerson = person;
            this.isDialogOpen = true;
        },
        onStatusUpdate(status){
            this.selectedPerson.isAuthorSuspended = status;
        }
    },
    mounted(){
        this.loadData();
    }
}
</script>