<template>
    <base-page>
        <template v-slot:toolbar-title>User Profile of {{userString}}</template>
        <template v-slot:header>
            <person-picker ref="personPicker" label="Choose another person" v-model="selectedCmsId" required></person-picker>                
        </template>
        <template v-slot:toolbar-right>
            <user-epr-link :login="username" label="EPR"/>
        </template>
        <template v-slot:body>
            <v-row  >
                <v-col cols="12" v-if="isAdminViewer">
                    <v-card>
                        <v-card-title class="subheading">Admin Tools
                            <v-spacer></v-spacer>
                            <v-btn icon @click="expandAdminTools = !expandAdminTools">
                                <v-icon>{{ expandAdminTools ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-slide-y-transition>
                            <v-card-text v-show="expandAdminTools">
                                <v-divider></v-divider>
                                <v-list>
                                    <v-list-item>
                                        <v-list-item-content>
                                            <v-list-item-title>Account Status Check</v-list-item-title>
                                            <v-list-item-subtitle v-if='adminData.accountStatus.result != null'><a :href="adminData.accountStatus.details.url">{{adminData.accountStatus.result}}</a></v-list-item-subtitle>
                                            <v-list-item-subtitle v-else>Account check has not been run.</v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-list-item-action><v-btn @click="runAccountStatusCheck()">Run Check</v-btn></v-list-item-action>
                                    </v-list-item>
                                </v-list>
                            </v-card-text>
                        </v-slide-y-transition>
                    </v-card>
                </v-col>

                <template v-for="cardKey in cards.keys()">
                    <v-col class="text-left" cols="12" sm="6" md="6" lg="4" xl="3" v-bind:key="'cardKey_'+cardKey" v-if="cardsData[cardKey] !=null && fieldLabels[cardKey] != null && fieldLabels[cardKey].size > 0">
                        <v-card height="650" style="overflow-y: auto">
                            <v-card-title class="subheading">{{cards.get(cardKey)}}</v-card-title>
                            <v-divider></v-divider>
                            <v-card-text>
                                <v-list>
                                    <v-list-item v-for="key in fieldLabels[cardKey].keys()" v-bind:key="key">
                                        <v-list-item-subtitle>
                                            {{fieldLabels[cardKey].get(key)}}
                                        </v-list-item-subtitle>
                                        <template v-if="Array.isArray(cardsData[cardKey][key])">
                                            <v-list-item-action-text>Number of items: {{cardsData[cardKey][key].length}}</v-list-item-action-text>
                                            <v-list-item-action>
                                                <details-dialog>
                                                    <template v-slot:title>{{fieldLabels[cardKey].get(key)}}</template>
                                                    <template v-slot:body>
                                                        <v-list>
                                                            <v-list-item v-for="e in cardsData[cardKey][key]" :key="cardKey+key+e">
                                                                <v-list-item-title>{{e}}</v-list-item-title>
                                                            </v-list-item>
                                                        </v-list>
                                                    </template>
                                                    <template v-slot:activator="{on}">
                                                        <v-btn color="primary" icon ripple> <v-icon v-on="on">list</v-icon> </v-btn>
                                                    </template>
                                                </details-dialog>
                                            </v-list-item-action>
                                        </template>                                        
                                        <template v-else>
                                            <v-list-item-title :class='assignCellClass(key, cardsData[cardKey][key])'>
                                                <inst-profile-link v-if="['inst_code', 'instCode'].includes(key)" :instCode='cardsData[cardKey][key]'/>
                                                <span v-else>
                                                    {{ cardsData[cardKey][key] === null ? '---' : cardsData[cardKey][key] }}
                                                </span>
                                            </v-list-item-title>
                                        </template>
                                    </v-list-item>
                                </v-list>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </template>
            
                <v-col class="text-left" cols="12" v-if="eprTimeLines.length > 0">
                    <v-card>
                        <v-card-title class="subheading">User Time Lines</v-card-title>
                        <v-divider></v-divider>
                            <v-card-text>
                                <v-data-table 
                                    :headers="getTluHeaders()" 
                                    :items="eprTimeLines" 
                                    :options="tluPagination" 
                                    :footer-props="{'items-per-page-options': [-1]}" 
                                >
                                    <template v-slot:[`item.instCode`]="{item}"> <inst-profile-link :instCode="item.instCode"/></template>
                                    <template v-slot:[`item.isAuthor`]="{item}"> 
                                        <div :class="assignCellClass('isauthor', item.isAuthor)">
                                            {{item.isAuthor}}
                                        </div>
                                    </template>
                                    <template v-slot:[`item.isSuspended`]="{item}"> 
                                        <div :class="assignCellClass('issuspended', item.isSuspended)">
                                            {{item.isSuspended}}
                                        </div>
                                    </template>
                                    <template v-slot:[`item.dueAuthor`]="{item}"> {{(item.dueAuthor || 0).toFixed(2)}} </template>
                                    <template v-slot:[`item.dueApplicant`]="{item}"> 
                                        <div :class='{"cell-attention": item.dueApplicant > 0}'>
                                            {{(item.dueApplicant || 0).toFixed(2)}}
                                        </div>
                                    </template>
                                    <template v-slot:[`item.yearFraction`]="{item}"> {{(item.yearFraction || 0).toFixed(2)}} </template>
                                    <template v-if="isAdminViewer" v-slot:[`item.comment`]="{item}"> {{item.comment}} </template>
                                </v-data-table>
                            </v-card-text>
                    </v-card>
                </v-col>
                
                <v-col class="text-left" cols="12" md="6" v-if="historyLines.length > 0">
                    <v-card>
                        <v-card-title class="subheading">
                            History
                            <v-spacer></v-spacer>
                            <v-btn icon @click="expandHistory = !expandHistory">
                                <v-icon>{{ expandHistory ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-slide-y-transition>
                            <v-card-text v-show="expandHistory">
                                <v-divider></v-divider>
                                <pre>{{historyLinesMerged}}</pre>
                            </v-card-text>
                        </v-slide-y-transition>
                    </v-card>
                </v-col>

                <v-col class="text-left" cols="12" md="6" v-if="parsedLines.length > 0">
                    <v-card>
                        <v-card-title class="subheading">Parsed Time Lines
                            <v-spacer></v-spacer>
                            <v-btn icon @click="expandParsedLines = !expandParsedLines">
                                <v-icon>{{ expandParsedLines ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                            </v-btn>
                        </v-card-title>
                        <v-slide-y-transition>
                            <v-card-text v-show="expandParsedLines">
                                <v-divider></v-divider>
                                <v-data-table 
                                    :headers="getParsedLinesHeaders()" 
                                    :items="parsedLines" 
                                    :options="parsedPagination" 
                                    :footer-props="{'items-per-page-options': [-1]}" 
                                />
                            </v-card-text>
                        </v-slide-y-transition>
                    </v-card>
                </v-col>

                <v-col cols="12" v-if="isEditionAllowed">
                    <v-card>
                        <v-card-title class="subheading">Edit Information
                            <v-spacer></v-spacer>
                                <v-btn icon @click="expandEditZone = !expandEditZone">
                                    <v-icon>{{ expandEditZone ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                                </v-btn>
                            </v-card-title>
                        <v-slide-y-transition>
                            <v-card-text v-show="expandEditZone">
                                <v-form>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="4">
                                                <v-card>
                                                    <v-card-title>PhD graduation date</v-card-title>
                                                    <v-card-text>
                                                <v-menu ref="phdDateMenu" v-model="showPhdDateMenu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editableData.phdDate" transition="scale-transition" offset-y min-width="290px">
                                                    <template v-slot:activator="{ on }">
                                                        <v-text-field v-model="editableData.phdDate" prepend-icon="event" readonly v-on="on"></v-text-field>
                                                    </template>
                                                    <v-date-picker v-model="editableData.phdDate" no-title scrollable>
                                                        <v-spacer></v-spacer>
                                                        <v-btn text color="primary" @click="showPhdDateMenu = false">Cancel</v-btn>
                                                        <v-btn text color="primary" @click="$refs.phdDateMenu.save(editableData.phdDate)">OK</v-btn>
                                                    </v-date-picker>
                                                </v-menu>        
                                                </v-card-text>                                        
                                                <v-card-actions>
                                                    <v-btn color="success" @click="submitPhdDate">Submit</v-btn>
                                                </v-card-actions>
                                                </v-card>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-form>
                            </v-card-text>
                        </v-slide-y-transition>
                    </v-card>
                </v-col>

            </v-row>
        </template>
    </base-page>
</template>

<script>
import Ajax from '../utils/Ajax.js' 
import VuetifyPersonPicker from '../components/VuetifyPersonPicker.vue'
import VuetifyDetailsDialog from '../components/VuetifyDetailsDialog.vue'
import VuetifyPage from '../components/VuetifyPage.vue'
import InstProfileLink from '../components/links/InstProfileLink.vue'
import UserEprLink from '../components/links/UserEprLink.vue'

export default {
    name: 'UserProfile',
    components: {
        'person-picker': VuetifyPersonPicker,
        'details-dialog': VuetifyDetailsDialog,
        'base-page': VuetifyPage,
        'inst-profile-link': InstProfileLink,
        'user-epr-link': UserEprLink
    },
    props: {
        cmsId: null
    },
    data: function(){
        return {
            viewerData: {flags: []},
            selectedCmsId: null,
            hrId: null,
            tluPagination: {sortBy: ['timestamp'], sortDesc: [true]},
            parsedPagination: {sortBy: ['start_date'], sortDesc: [true]},
            cards: new Map([
                ['oldDbInfo', 'CMS DB Information'],
                // masking this one for the moment as not all the necessary(?) information is already synchronized to the new database
                // ['personInfo', 'CMS DB Information'], 
                ['ldapInfo', 'Person LDAP Info'], 
                ['eprData', 'EPR Contributions'],
                ['restrictedInfo', 'Restricted Information'],
                ['moInfo', 'MO Information'],
                ['authorStats', 'Signed Papers']
            ]),
            fieldLabels: {
                oldDbInfo: new Map([
                    ["cmsId", "CMS ID"],
                    ["hrId", "HR ID"],
                    ["lastName", "Last Name"],
                    ["firstName", "First Name"],
                    ["title", "Title"],
                    ["loginId", "Username"],
                    ["niceLogin", "Username (nice)"],
                    ["instCode", "Institute"],
                    ["instCodeOther", "Also at"],
                    ["isAuthor", "Author?"],
                    ["isAuthorSuspended", "EPR-Suspended?"],
                    ["isAuthorBlock", "Author-Blocked?"],
                    ["status", "CMS Status"],
                    ["activity", "CMS Activity"],
                    ["project", "CMS Project"],
                    ["localPercent", "Percent at CERN"],
                    ["dateCreation", "Account Created on"],
                    ["dateRegistration", "CMS Registered on"],
                    ["zhFlag", "ZH flag"],
                    ["physicsAccess", "Physics Access"],
                    ["duties", "Team Duties"],
                    ["flags", "iCMS flags"],
                ]),
                // this is hidden at the moment - until the old DB is phased out and all the necessary info becomes available in the new one
                personInfo: new Map([
                    ['cms_id', 'CMS ID'], 
                    ['hr_id', 'HR ID'], 
                    ['last_name', 'Last Name'], 
                    ['first_name', 'First Name'], 
                    ['inst_code', 'Institute'],
                    ["status", "CMS Status"],
                    ["is_author", "Authorship"],
                    ["activity", "CMS Activity"],
                    ["login", "Username"],
                    ["flags", 'iCMS Flags'],
                    ["team_duties", 'Team Duties']
                ]),
                eprData: new Map(),
                ldapInfo: new Map([
                    ['full_name', 'Full Name'], 
                    ['login', 'Username'],
                    ['gid', 'GID'],
                    ['account_status', 'Account Status'],
                    ['department', 'Department'],
                    ['office', 'Office'],
                    ['po_box', 'PO Box'],
                    ['mail', 'E-mail'],
                    ['in_zh', 'Is in ZH?'],
                    ['cms_egroups', 'CMS e-groups']
                ]),
                restrictedInfo: new Map([
                    ['cernId', 'CERN ID'],
                    ['cmsTime', 'CMS Time'],
                    ['datetimeModified', 'Modified on'],
                    ['dateEndSign', 'Date End Sign'],
                    ['dateAuthorUnblock', 'Unblocked on'],
                    ['dateAuthorBlock', 'Blocked on'],
                    ['dateAuthorSuspension', 'Suspended on'],
                    ['dateAuthorUnsuspension', 'Unsuspended on'],
                    ['sex', 'Gender'],
                    ['nationality', 'Nationality'],
                    ['nationality2', '2nd Nationality'],
                    ['status', 'CERN Status'],
                    ['birthDate', 'Birth Date'],
                    ['exDate', 'Departure Date'],
                    ['remarks', 'Remarks'],
                    ['remarksSecr', 'Secretariat Remarks']
                ]),
                moInfo: new Map(),
                authorStats: new Map()
            },
            //cardsData has been moved to computedProperties
            cardsDataSource: {
                oldDbInfo: {},
                personInfo: {},
                ldapInfo: {},   
                eprData: {},
                restrictedInfo: {},
                moInfo: {},
                authorStats: {}
            },

            eprTimeLines: [],
            historyLines: [],
            parsedLines: [],

            expandHistory: false,
            expandParsedLines: false,
            expandAdminTools: false, 
            expandEditZone: false,

            adminData: {accountStatus: {operation: null, result: null, details: {url: null}}},
            editableData: {
                phdDate: null,
                phdDateId: null,
            }
        }
    },
    computed: {
        userString: function(){
            return this.cardsData.personInfo == null ? '' : this.cardsData.personInfo.first_name + ' ' + this.cardsData.personInfo.last_name;
        },
        isAdminViewer: function(){
            return (this.viewerData.flags || []).includes("ICMS_admin");
        },
        isEditionAllowed: function(){
            return this.$store.getters.userCmsId == this.selectedCmsId || this.isAdminViewer;
        },
        historyLinesMerged: function(){
            return (this.historyLines || []).reduce((s, substr) => s + '\n' + substr, '');
        },
        cardsData: function(){
            var data = this.cardsDataSource;
            if (data.personInfo.hasOwnProperty('flags')){
                data.oldDbInfo['flags'] = data.personInfo.flags;
            }
            if (data.personInfo.hasOwnProperty('team_duties')){
                data.oldDbInfo['duties'] = data.personInfo.team_duties;
            }
            return data;
        },
        username: function(){
            return this.cardsDataSource && this.cardsDataSource.ldapInfo && this.cardsDataSource.ldapInfo.login || null;
        }
    },
    watch: {
        selectedCmsId: function(newValue, oldValue){
            this.$router.push({name: 'user-profile', params: {cmsId: this.selectedCmsId}});
            this.resetData();
            console.debug('CMS ID changed from ' + oldValue + ' to ' + newValue);
            if (newValue != oldValue){
                var compo = this;
                if (!this.cardsData.personInfo.hasOwnProperty('cms_id') || this.cardsData.personInfo.cms_id != newValue){
                    // this info is already likely to be in place (selectedCmsId is updated from setPersonInfo callback)
                    Ajax.getUserInfo(newValue, this.setUserInfo);
                }
                Ajax.getEprAggregates(this.setEprAggregates, this.selectedCmsId, null, null, null);
                Ajax.getOldDbPersonInfo(this.selectedCmsId, this.setOldDbPersonInfo, this.relayApiError);
                Ajax.getEprUserTimeLines(this.setEprTimeLines, this.relayApiError, this.selectedCmsId, null);
                Ajax.getHistoryLines(this.selectedCmsId, this.setHistoryLines, this.relayApiError);
                Ajax.getRestrictedPersonInfo(this.selectedCmsId, this.setRestrictedInfo, this.relayApiError);
                Ajax.getPersonMoInfo(this.selectedCmsId, this.setMoInfo, this.relayApiError);
                Ajax.getAuthorStats(this.selectedCmsId, this.setAuthorStats, this.relayApiError);
                Ajax.getParsedHistoryLines(this.selectedCmsId, this.setPrehistory, this.relayApiError);
                Ajax.getCareerEvents(this.selectedCmsId, 'phd completion', this.setCareerEvents, this.relayApiError);
            } else {
                console.debug('New CMS ID the same as the old one: ' + oldValue);
            }
        },
        hrId: function(newValue, oldValue){
            console.debug('User HR ID set to ' + newValue);
            Ajax.getUserLdapInfo(this.setLdapInfo, newValue);
        }
    },
    methods: {
        assignCellClass: function(label, value){
            /**
             * Plenty of hard-coded strings here but they had to go somewhere, probably...
             */
            label = String(label).toLowerCase();
            value = String(value).toLowerCase();
            if (["isauthorblock", "isauthorsuspended", "issuspended"].includes(label)){
                return ['true'].includes(value) ? 'cell-attention' : 'cell-success';
            } else if (["author", "isauthor", "physicsaccess"].includes(label)){
                return ['true'].includes(value) ? 'cell-success' : 'cell-attention';
            } else if (['in_zh', 'zhflag'].includes(label)){
                return ['false', 'null'].includes(value) ? 'cell-issue' : 'cell-success';
            }
            return '';
        },
        setUserInfo(data){
            console.debug('Updating User Info data.');
            data.flags = (data.flags != null ? data.flags.sort() : null);

            if (data['team_duties'] != null){
                data['team_duties'] = Object.entries(data['team_duties']).map(([k, v]) => k + ': ' + v);
            }
            this.cardsData.personInfo = data;           

            this.hrId = data['hr_id'];
            if (this.selectedCmsId != data.cms_id){
                this.selectedCmsId = data['cms_id'];
            }
        },
        resetData(){
            this.eprTimeLines = [];
            this.historyLines = [];
            this.cardsData.ldapInfo = {};
            this.cardsData.restrictedInfo = {};
            this.adminData = {accountStatus: {operation: null,result: null,details: {url: null}}};
        },
        setEprAggregates(data){
            var compo = this;
            this.cardsData.eprData = {};
            data.forEach(e => {
                this.cardsData.eprData[e.year] = e.aggregate_value.toFixed(2)  ;
            });
            //faking the labels translation
            compo.fieldLabels.eprData = new Map(data.map(e => [e.year, e.year]).sort().reverse());
        },
        setOldDbPersonInfo(data){
            this.cardsData.oldDbInfo = data;
        },
        setLdapInfo(data){
            console.debug('Setting new LDAP data...');
            data.cms_egroups = (data.cms_egroups != null ? data.cms_egroups.sort() : null);
            this.cardsData.ldapInfo = data;
        },
        setEprTimeLines(data){
            this.eprTimeLines = data.map(e => {e.timestamp = e.timestamp.substring(0, e.timestamp.indexOf('T')); return e;}).sort((a, b) => a.year != b.year ? a.year - b.year : a.timestamp.localeCompare(b.timestamp));
        },
        setHistoryLines(data){
            console.debug('received history data...');
            var lines = data['history'];
            this.historyLines = lines;
        },
        setRestrictedInfo(data){
            console.debug('Got the restricted info!');
            this.cardsData.restrictedInfo = data;
        },
        setMoInfo(data){
            console.debug('Got the MO info!');
            this.fieldLabels.moInfo = new Map(data.map(e => [e.year, e.year]));
            data.forEach(e => {
                console.debug(e);
                var value = 'no'
                if (e.mo === true){
                    if (e.mo_type == 'phd'){
                        value = 'yes (' + e.mo_ic + ', FA: ' + e.mo_fa + ')';
                    } else {
                        value = e.mo_type;
                    }
                }
                this.cardsData.moInfo[e.year] = value;
            });
        },
        setPrehistory(data){
            console.debug('Got the pre-history info!');
            this.parsedLines = data;
        },
        setAuthorStats(data){
            console.debug('Got the author stats info!');
            this.fieldLabels.authorStats = new Map(Object.keys(data.counts).sort().reverse().map(e => [e, e]));
            this.cardsData.authorStats = data.counts;
        },
        setCareerEvents(data){
            var event = data.find(e => e.event_type == 'phd completion');
            if (event != null){
                this.editableData.phdDate = event.date;
                this.editableData.phdDateId = event.id;
            }
        },
        relayApiError(request, status, error){
                console.debug('Request status is ' + request.status);
                if (request.status == 403){
                    console.debug('We cannot show the timelines due to access restrictions so we will silently keep that section hidden.');
                } else {
                    Ajax.defaultFailHandler(request, status, error);
                }
        },
        getTluHeaders: function(){
            var baseColumns = [
                {text: 'Year', value: 'year', sortable: true},
                {text: 'Date', value: 'timestamp', sortable: true},
                {text: 'Status', value: 'status', sortable: true},
                {text: 'Institute', value: 'instCode', sortable: true},
                {text: 'Activity', value: 'category', sortable: true},
                {text: 'Authorship', value: 'isAuthor', sortable: true},
                {text: 'EPR Suspension', value: 'isSuspended', sortable: true},
                {text: 'Project', value: 'mainProject', sortable: true},
                {text: 'Author due', value: 'dueAuthor', sortable: true},
                {text: 'Applicant due', value: 'dueApplicant', sortable: true},
                {text: 'Year fraction', value: 'yearFraction', sortable: true},
            ];
            if (this.isAdminViewer){
                baseColumns.push({text: 'Comment', value: 'comment', sortable: true});
            }
            return baseColumns;
        },
        getParsedLinesHeaders: function(){
            return [
                {text: 'Start Date', value: 'start_date', sortable: true},
                {text: 'End Date', value: 'end_date', sortable: true},
                {text: 'Institute', value: 'inst_code', sortable: true},
                {text: 'CMS Status', value: 'status_cms', sortable: true},
                {text: 'CMS Activity', value: 'activity_cms', sortable: true},
            ];
        },
        runAccountStatusCheck: function(){
            var compo = this;
            Ajax.getAccountStatusCheck(this.cardsData.personInfo.hr_id, function(data){
                compo.adminData.accountStatus = data;
            });
        },
        submitPhdDate: function(){
            var compo = this;
            Ajax.postCareerEvent(this.editableData.phdDateId, this.selectedCmsId, this.editableData.phdDate, 'phd completion', function(data){
                console.debug('Looks like success! Yikes!');
                compo.$store.commit('infoMessage', 'Information updated successfully.');
            });
        }
    },
    mounted: function(){
        var compo = this;
        // we could optimize this bit by saving one API call whenever ppl consult their own profiles but who'd like to debug that?
        // this call grabs the viewing user's info to determine some privileges and the like
        Ajax.getUserInfo(null, function(data){compo.viewerData = data;});
        // this call grabs the user's info by the cmsId prop - this one will also set the selected CMS ID which in turn will trigger all other updates
        Ajax.getUserInfo(this.cmsId, this.setUserInfo);
    }
}
</script>

<style>
    .cell-success {
        color: green;
    }
    .cell-attention{
        color: orange;
    }
    .cell-issue {
        color: red;
    }
</style>

