<template>
    <base-page>
        <template v-slot:toolbar-left>
            <v-menu bottom right :close-on-content-click="false" v-model="showEventsMenu">
                <template v-slot:activator="{ on }">
                    <v-icon v-on="on">menu</v-icon>
                </template>
                <v-card max-height="650" min-width="400" style="overflow-y: auto">
                    <v-card-title>
                        <v-text-field v-model="eventSearch" label="Search for an event" hide-details clearable clear-icon="clear"></v-text-field>
                    </v-card-title>
                    <v-card-text>
                        <v-treeview v-model="eventsTreeModel" :search="eventSearch" :open-on-click="true" :items="eventsTree" item-key="code" item-name="name" :transition="true" activatable>
                            <template v-slot:label='{item}'>
                                <span v-on:click="pickEvent(item.code)">{{item.name}}</span>
                            </template>
                        </v-treeview>
                    </v-card-text>
                    <v-card-actions v-if="canAddUnits">
                    </v-card-actions>
                </v-card>
            </v-menu>
        </template>

        <template v-slot:toolbar-title>CMS Voting List for {{votingCode}}</template>

        <template v-slot:toolbar-right>
            <v-icon v-if="canAddEvents" @click="summonEventEditor(votingCode)">edit</v-icon>
            <v-icon v-else></v-icon>

            <v-icon v-if="canAddEvents" @click="summonEventEditor(null)">add</v-icon>
            <v-icon v-else></v-icon>

            <v-icon v-if="canEverything" @click="deleteEvent(votingCode)">delete</v-icon>
            <v-icon v-else></v-icon>

            <v-icon v-if="canEverything" @click="takeSnapshot(votingCode)">save</v-icon>
            <v-icon v-else></v-icon>
            
        </template>

        <template v-slot:header>
            <v-text-field v-model="search" append-icon="search" label="Search"></v-text-field>
            <v-col v-if="showVotes" cols="6">
                <v-select v-model="searchVotes" :items="votesValues" label="Filter by votes" multiple> </v-select>
            </v-col>
        </template>

        <template v-slot:body>
            <data-table :headers="headers" :items="participants" :search="search" />
        </template>

        <template v-slot:actions>
            <voting-editor v-if="canAddEvents" ref="votingEditor" @updated="afterVotingSaved" :value="editedVotingId">
                <template v-slot:activator="{on}"><p></p></template>
            </voting-editor>
        </template>
    </base-page>
</template>

<script>
    import Ajax from '../utils/Ajax.js' 
    import VuetifyDetailsDialog from '../components/VuetifyDetailsDialog.vue'
    import VuetifyPage from '../components/VuetifyPage.vue'
    import VotingEditor from '../components/VotingEditor.vue'
    import ExcelExport from '../components/ExcelExport.vue'
    import VuetifyTable from '../components/VuetifyTable.vue'

    export default {
        name: 'VotingList',
        components: {
            'details-dialog': VuetifyDetailsDialog,
            'base-page': VuetifyPage,
            'voting-editor': VotingEditor,
            'excel-export': ExcelExport,
            'data-table': VuetifyTable
        },
        data: function(){
            return {
                votingCode: null,
                events: [],
                participants: [],
                nearParticipants: [],
                votesValues: [],
                search: '',
                searchVotes: [],
                // for the events tree
                eventSearch: '',
                eventsTreeModel: [],
                showEventsMenu: false,
                // 
                editedVotingId: null,
            };
        },
        props: {
            // if bug hunting, try searching for "this.code" - it's likely you actually meant "this.votingCode"...
            code: '',
        },
        watch: {
            votingCode: function(newValue){
                console.debug('code changed to: ' + this.votingCode);
                if (this.code !== this.votingCode){
                    this.$router.push({name: 'voting-list', params: {code: this.votingCode}});
                }
                if (typeof(this.votingCode) === 'string' && this.votingCode.length > 1){
                    Ajax.getVotingParticipants(this.votingCode, false, this.storeParticipants);
                }
            },
            events: function(){
                console.debug('Events list watch triggered current code is ' + this.votingCode);
                var bestMatchCode = null;
                var bestMatchDate = null;
                if (this.events.findIndex(e => e.code === this.votingCode) > -1) {
                    bestMatchCode = this.votingCode;
                } else {
                    // console.debug('Current code ' + this.votingCode + ' NOT found in our list of events. Looking for the best match...');
                    this.events.forEach(e => {
                        // console.debug('Examining code ' + e.code);
                        var date = new Date(e.start_time);
                        var now = new Date();
                        if (bestMatchCode === null){
                            bestMatchCode = e.code;
                            bestMatchDate = date;
                        } else {
                            if (date > now){
                                // console.debug("Event date in the future: " + e.code +' - ' +date+' vs. '+bestMatchDate);
                                // future event beats current best if best is in the past or more into the future than the current event
                                if (bestMatchDate < now || bestMatchDate > date){
                                    bestMatchCode = e.code;
                                    bestMatchDate = date;
                                }
                            } else {
                                // console.debug("Event date in the past: " + e.code +' - ' +date+' vs. '+bestMatchDate);
                                // event is in the past - as long as it's more recent then current best: we're good
                                if (date > bestMatchDate){
                                    bestMatchDate = date;
                                    bestMatchCode = e.code;
                                }
                            }
                        }
                    });
                }
                this.votingCode = bestMatchCode;
            }
        },
        mounted: function(){
            this.votingCode = this.code;
            Ajax.getVotingEventsList(this.storeEventsList);
        }, 
        methods: {
            storeParticipants: function(data){
                this.participants = [];
                this.nearParticipants = [];
                var votesValues = new Set();
                data.forEach((e, idx, arr) => {
                    if (e.votes > 0){
                        this.participants.push(e);
                        votesValues.add(e.votes);
                    } else {
                        this.nearParticipants.push(e);
                    }
                });
                this.votesValues = Array.from(votesValues);
            },
            storeEventsList: function(data){
                console.debug("Updating the list of voting events");
                this.events = data;
            },
            pickEvent: function(code){
                this.votingCode = code;
                this.showEventsMenu = false;
            },
            summonEventEditor: function(code){
                console.debug('should now see an editor...');
                var id = null;
                if (code !== null){
                    id = this.events.find(e => e.code == code).id;
                }
                this.editedVotingId = id;
                this.$refs.votingEditor.show();
            },
            deleteEvent: function(code){
                console.debug('should now see a question about deleting the event');
            },
            takeSnapshot: function(code){
                console.debug('should now see a question about taking a snapshot');
            },
            afterVotingSaved: function(data){
                // console.debug('saved some new voting data: ');
                // console.debug(data);
                var idx = this.events.findIndex(e => e.id == data.id);
                // make sure that whatever was saved will now be our primary focus
                this.votingCode = data.code;
                this.$set(this.events, idx > -1 ? idx : this.events.length, data);
            }
        },
        computed: {
            showVotes: function(){
                return this.votesValues.length > 1;
            },
            headers: function(){
                var headers = [
                    {text: 'Person', value: 'person'}, {text: 'Institute', value: 'unit'}, {text: 'Country', value: 'country'}, {text: 'Remarks', value: 'remarks'}
                ];
                if (this.showVotes){
                    headers.splice(3, 0, {text: 'Votes', value: 'votes'});
                }
                return headers;
            },
            eventsTree: function(){
                var values = this.events.map(e => ({code: e.code, name: e.code + ': ' + e.title, start_time: e.start_time}));
                values.sort((e,f) => {
                    return new Date(f.start_time) - new Date(e.start_time);
                });
                return values;
            },
            canAddEvents: function(){
                if (this.canEverything) return true;
                var flags = this.$store.state.userInfo.flags;
                return flags != null && flags != 'undefined' && flags.includes('ICMS_admin');
            },
            canEverything: function(){
                var flags = this.$store.state.userInfo.flags;
                return flags != null && flags != 'undefined' && flags.includes('ICMS_root');
            }
        },
    }
</script>