h2{
    margin-top: 1.2em;
    margin-bottom: 0.9em;
}

.ui-front {
     z-index: 9999 !important;
}

div#impersonateWarning{
    position: fixed;
    right: 50px;
    top: 25px;
    background-color: #ffff1a;
    border-style: solid;
    border-width: 2px;
    border-color: #ff230d;
    padding: 5px;
    z-index: 9999;
}

div.spread{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.debug{
    border-style: solid;
    border-width: 10px;
    border-color: red;
    background-color: yellow;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    visibility: hidden;
}

th.timetable-header{
    text-align: center;
    border-top: 1px dotted #eeeeee;
    border-bottom: 1px dotted #eeeeee;
}

th.timetable-timeslot{
    width: 6.7%;
}

td.timetable, th.timetable{
    border-left: 1px dotted #eeeeee;
    border-right: 1px dotted #eeeeee;
    border-collapse: collapse;
    word-wrap: break-word;
}

td.timetable-event{
    text-align: center;
    border: 1px solid black;
}

td.timetable-pending{
    background-color: yellow;
}

td.timetable-problematic{
    background-color: #ff9174;
}

td.timetable-done{
    background-color: #e0ffdc;
}

td.timetable-booked{
    background-color: lightgreen;
}

td.timetable-booked,td.timetable-empty,td.timetable-requested{
    padding-right: 5px;
    padding-left: 10px;
}

.timetable>td{
    background-color: #bbbbbb;
}

table.timetable{
    line-height: 20px;
    width: 100%;
    table-layout: fixed;
}

table.simple {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.simple td, table.simple th {
    border: 1px solid #090909;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

table.simple th{
    background-color: #efefef;
}

table.simple tr:nth-child(even) {
    background-color: #efefef;
}

td.timetable-room{
    padding-left: 3px;
    padding-right: 3px;
}

tr.odd{
    background-color: #f9f9f9;
}

div.navbar {
    background-color: blanchedalmond;
}

div#icms-explanation-container{
    margin-bottom: 1em;
}

div.brick{
    background-color: antiquewhite;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding-bottom: 0px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.brick h4{
    text-align: center;
}

div.centered{
    text-align: center;
}

div.brick.padded{
    padding: 10px;
}

div.huge{
    width: 100%;
}

.brick div.odd, .odd div{
    background-color: ghostwhite;
}

.brick div.table
{
    display:  table;
    width: 100%;
    border: 1px solid white;
    margin-bottom: 5px;
}

.brick div.row
{
    display:table-row;
    width:100%;
}

.brick div.cell
{
    float:left;
    display:table-cell;
    padding: 3px;
    border: 1px solid white;
    height: 100%;
}

.brick div.header{
    font-weight:  bold;
    text-align: center;
}

div.wall{
    margin-bottom: 15px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}

div.sticker {
    position: fixed;
    top:50px;
    right:20px;
    width: 175px;
    border-radius: 5px;
    border: 4px solid red;
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
    z-index: 10000;
}

div.sticker h3{
    margin-top: 0px;
}

/* the tabs for the tables ...  */
.nav-tabs>li>a {
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
    background-color: #afb0ff;
}
/* the active tab for the tables ...  */
.nav-tabs>li.active>a {
    font-size: 16px;
    font-family: bold;
    color: #FFFFFF;
    background-color: #432cff;
}

td.hl{
    padding: 0px;
}

span.cell-hl{
    border-width: 0.1em;
    border-style: solid;
    padding: 5px;
    background-color: white;
    font-weight: bold;
}

span.cell-hl-info{
    color: darkgreen;
}

span.cell-hl-warn{
    color: orangered;
}

span.cell-hl-problem{
    color: darkred;
}

div.booking-actions{
    color: black;
    font-weight: bold;
    border-top: 1px dashed black;
}

div.sensitive{
    border: 1px solid orange;
    box-shadow: 0 0 0 1px orangered;
}

div.header-extra{
    text-align: left;
}

.page-header{
    text-align: center;
}

.header-extra em{
    font-style: normal;
    color: red;
    font-weight: bold;
}

pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

td.open {
    background-color: #ffaaaa;
}

.log-header {
    color: blue;
    font-size: larger;
}
.log-body {
    background-color: wheat;
    font-family: "Courier New";
}


*,.flashpool{box-sizing:border-box}.flashpool{position:fixed;top:20px;right:20px;max-height:400px;width:260px;-webkit-perspective:400px;perspective:400px}.flashpool .flash__message{width:260px;transition:all .5s;display:-webkit-box;display:-ms-flexbox;display:flex;font-family:Oxygen,sans-serif;font-size:13px;line-height:130%}.flash-enter,.flash-leave-to{opacity:0;-webkit-transform:rotateX(-30deg) scale(.88) translateY(-30px);transform:rotateX(-30deg) scale(.88) translateY(-30px)}.flash-leave-active{position:absolute}.cpanel{font-family:Oxygen,sans-serif;position:fixed;top:0;left:0;width:250px;height:100vh;padding:40px 24px 0;overflow:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;border-right:1px solid #ebeaea}.cpanel__wrapper{height:100%;padding-bottom:24px}.cpanel__donate{-ms-flex-negative:0;flex-shrink:0;padding-bottom:24px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;opacity:.3}.cpanel__donate:hover{opacity:1}.cpanel__group{font-size:13px;margin:0 10px 31px 0}.cpanel__input{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;font-size:18px;padding:0 0 6px;border-bottom:2px solid #ddd;width:100%}.cpanel__checkbox{margin-right:3px;margin-bottom:5px}.cpanel input:focus{box-shadow:none;outline:none;border-bottom:2px solid #47b784}.cpanel button{width:100%;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #47b784;color:#47b784;font-weight:400;padding:10px;border-radius:3px;cursor:pointer}.cpanel button:active,.cpanel button:focus{outline:none}.cpanel button:active{background-color:#e1f1ea}.cpanel button.cpanel__reset{width:100%;border-color:transparent;font-size:13px;color:#47b784;padding:0;margin-top:16px;border-radius:0;cursor:pointer}.cpanel__hint,.cpanel__label{display:block;margin-bottom:5px;color:#7f8c8d;font-size:.85em}.cpanel__label{cursor:pointer}.cpanel__hint{margin-top:5px;font-style:italic;color:#a1abac}.flash__message{box-sizing:border-box;padding:15px 30px 15px 15px;margin-bottom:10px;border:1px solid transparent;border-radius:4px;background-color:#ccc;position:relative}.flash__message.success{color:#3c763d;background-color:#dff0d8;border-color:#d6e9c6}.flash__message.warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc}.flash__message.error{color:#a94442;background-color:#f2dede;border-color:#ebccd1}.flash__message.info{color:#37516a;background-color:#f2f5fe;border-color:#dfe3f0}.flash__close-button{box-sizing:border-box;position:absolute;top:0;right:0;color:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;background:none;border:none;cursor:pointer;font-size:18px;line-height:10px;margin:0;padding:8px}.flash__close-button:active,.flash__close-button:focus{outline:none}

.dataTables_wrapper input{
    border: 1px solid lightgrey;

}